Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2018-07, with the labels that each got.

#936 [jsk_nao_startup] use common packages as jsk_pepper_startup
  jsk_naoqi_robot/jsk_nao_startup/launch/jsk_nao_startup.launch
Labels: naoqi

#824 test/test-baxter-moveit.l: sleep with ros::time, not unix::time
  jsk_baxter_robot/baxtereus/test/test-baxter-moveit.l
Labels: MergeOK, wait for upstream

#813 [baxtereus] Enable to set ik-prepared-poses as nil
  jsk_baxter_robot/baxtereus/baxter-util.l
Labels: MergeOK

#917 correct position of fetch when dock/undock
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/scripts/correct_position.py
Labels: fetch15, question

#758 Add base link frame and base odom topic param
  jsk_robot_common/jsk_robot_startup/launch/biped_localization.launch
  jsk_robot_common/jsk_robot_startup/launch/multisense_local.launch
  jsk_robot_common/jsk_robot_startup/launch/particle_odometry.launch
Labels: MergeOK

#950 [jsk_naoqi_robot] modify dependency of package.xml
  jsk_naoqi_robot/naoeus/package.xml
  jsk_naoqi_robot/peppereus/package.xml
Labels: naoqi

#949 [jsk_naoqi_robot] add ros::sleep to speaking node
  jsk_naoqi_robot/jsk_nao_startup/launch/jsk_nao_startup.launch
  jsk_naoqi_robot/jsk_pepper_startup/launch/jsk_pepper_startup.launch
Labels: naoqi
