Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2019-07, with the labels that each got.

#1108 fix typo in mux_selector.py
  jsk_robot_common/jsk_robot_startup/util/mux_selector.py
Labels: MergeOK

#1112 [jsk_baxter_startup] add arm_control_mode and arm_interpolation in baxter.launch
  jsk_baxter_robot/jsk_baxter_startup/baxter.launch
Labels: baxter, enhancement

#990 [fetch] set navigation goal height properly
  jsk_fetch_robot/jsk_fetch_startup/euslisp/navigation-utils.l
Labels: question

#1111 Fix time signal
  jsk_robot_common/jsk_robot_startup/lifelog/time-signal.l
Labels: bug

#1118 add kinect_head_v2 jig for pr1040
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v1/1.sldprt
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v1/2.sldprt
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v1/3.sldprt
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v1/4.sldprt
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v1/5.sldprt
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v1/6.sldprt
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v1/7.sldprt
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v1/8.sldprt
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v1/KinectV2.SLDASM
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v1/kinect_base.SLDPRT
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v1/kinect_base_bankin.DXF
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v1/kinect_base_bankin.IGS
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v1/kinect_base_bankin.SLDDRW
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v1/kinect_base_bankin.SLDPRT
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v1/kinect_base_bankin_check.SLDDRW
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v2/1.sldprt
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v2/2.sldprt
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v2/3.sldprt
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v2/4.sldprt
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v2/5.sldprt
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v2/6.sldprt
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v2/7.sldprt
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v2/8.sldprt
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v2/KinectV2.SLDASM
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v2/kinect_base.SLDPRT
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v2/kinect_base_bankin.DXF
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v2/kinect_base_bankin.IGS
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v2/kinect_base_bankin.SLDDRW
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v2/kinect_base_bankin.SLDPRT
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v2/kinect_base_bankin_check.SLDDRW
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v2/kinect_base_bankin_left.SLDPRT
  jsk_pr2_robot/jsk_pr2_accessories/pr2_kinect_head_v2/v2/kinect_base_bankin_right.SLDPRT
Labels: PR1012, PR1040
