Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2019-06, with the labels that each got.

#1080 [jsk_pepper_startup] tweet when jsk_pepper_startup nodes are created (updated version of #1074)
  jsk_naoqi_robot/jsk_pepper_startup/launch/jsk_pepper_startup.launch
  jsk_naoqi_robot/jsk_pepper_startup/nodes/joy-client.l
  jsk_naoqi_robot/jsk_pepper_startup/nodes/take_wakeup_pose.py
  jsk_naoqi_robot/jsk_pepper_startup/nodes/tweet-server.l
  jsk_naoqi_robot/jsk_pepper_startup/nodes/tweet.l
  jsk_naoqi_robot/jsk_pepper_startup/script/roslaunch-check
Labels: MergeOK, naoqi

#1082 [jsk_pr2_startup] use new battery warning
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_warning/battery_warning.py
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_warning/cable_warning.l
  jsk_pr2_robot/jsk_pr2_startup/pr2.launch
Labels: MergeOK

#1083 [Wait for upstream] [jsk_pr2_startup, jsk_fetch_startup] use app_manager as plugin
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/package.xml
  jsk_pr2_robot/jsk_pr2_startup/package.xml
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
  jsk_robot_common/jsk_robot_startup/lifelog/app_manager.launch
Labels: MergeOK, wait for upstream

#1084 [jsk_fetch_startup] set approximate_sync=true in fetch_lifelog.xml
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_lifelog.xml
Labels: MergeOK

#1085 [jsk_pr2_startup] add pr2_microphone.launch and support hark and respeaker
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_lifelog/pr2_hark.launch
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_lifelog/pr2_microphone.launch
  jsk_pr2_robot/jsk_pr2_startup/package.xml
  jsk_pr2_robot/jsk_pr2_startup/pr2.launch
  jsk_pr2_robot/jsk_pr2_startup/pr2_gazebo.launch
Labels: MergeOK

#1087 [jsk_pr2_startup] fix typo in jsk_pr2_lifelog/pr2-tweet-log.l
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_lifelog/pr2-tweet-log.l
Labels: MergeOK

#1086 [jsk_pr2_startup] set approximate_sync:=true debug:=false in jsk_pr2_lifelog/db_client.launch
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_lifelog/db_client.launch
Labels: MergeOK

#1089 [jsk_pr2_startup] set launch_hd_monitor:=true in jsk_pr2_startup/pr2_bringup.launch
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
Labels: MergeOK

#1091 [jsk_pr2_startup] set diagnostic_aggregator analyzers param in pr2_bringup.launch
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_warning/jsk_pr2_analyzers.yaml
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
Labels: MergeOK

#1093 [jsk_robot_startup] add more info in periodic_replicator_client warning
  jsk_robot_common/jsk_robot_startup/lifelog/periodic_replicator_client.py
Labels: MergeOK

#1092 [jsk_robot_startup] fix typo in jsk_robot_startup/lifelog/common_logger.launch
  jsk_robot_common/jsk_robot_startup/lifelog/common_logger.launch
Labels: MergeOK

#1028 [Fetch] update readme
  jsk_fetch_robot/README.md
  jsk_fetch_robot/jsk_fetch_user.rosinstall.indigo
  jsk_fetch_robot/jsk_fetch_user.rosinstall.kinetic
Labels: need fix

#1101 add dock/undock app for fetch
  jsk_fetch_robot/jsk_fetch_startup/apps/dock/dock.app
  jsk_fetch_robot/jsk_fetch_startup/apps/dock/dock.interface
  jsk_fetch_robot/jsk_fetch_startup/apps/dock/dock.png
  jsk_fetch_robot/jsk_fetch_startup/apps/dock/dock.xml
  jsk_fetch_robot/jsk_fetch_startup/apps/fetch_apps.installed
  jsk_fetch_robot/jsk_fetch_startup/apps/undock/undock.app
  jsk_fetch_robot/jsk_fetch_startup/apps/undock/undock.interface
  jsk_fetch_robot/jsk_fetch_startup/apps/undock/undock.png
  jsk_fetch_robot/jsk_fetch_startup/apps/undock/undock.xml
  jsk_fetch_robot/jsk_fetch_startup/euslisp/undock.l
Labels: enhancement, fetch15

#1094 [jsk_robot_startup] load-ros-manifest pr2_mechanism_msg and fetch_driver_msgs only when they exist in active_user.l
  jsk_robot_common/jsk_robot_startup/lifelog/active_user.l
Labels: need fix

#1056 Add launch file to use respeaker
  jsk_robot_common/jsk_robot_startup/launch/respeaker.launch
Labels: need fix

#1009 [jsk_baxter_startup] refactor baxter.launch
  jsk_baxter_robot/jsk_baxter_startup/README.md
  jsk_baxter_robot/jsk_baxter_startup/baxter.launch
Labels: baxter, enhancement

#988 [WIP] [jsk_pr2_robot] Add PR2 teleop command list
  jsk_pr2_robot/README.md
  jsk_pr2_robot/images/pr2_teleop_command.png
Labels: MergeOK, need fix

#968 [jsk_pr2_startup] Make prosilica to nodelet and rectify image
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
Labels: MergeOK, need fix

#1026 [fetch] Exclude specific collision-check-pairs to ignore insignificant collisions
  jsk_fetch_robot/fetcheus/fetch-utils.l
Labels: MergeOK
