Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2019-03, with the labels that each got.

#1029 [naoqieus/README] add missing method (:speak-action) to method menu
  jsk_naoqi_robot/naoqieus/README.md
Labels: naoqi

#861 add admin tips for fetch15
  jsk_fetch_robot/README.md
Labels: MergeOK, question

#1015 [WIP] [naoqi] allow group namespace to naoqi/pepper/nao-interface.l
  jsk_naoqi_robot/README.md
  jsk_naoqi_robot/control_multiple_robots_in_one_pc.md
  jsk_naoqi_robot/naoeus/nao-interface.l
  jsk_naoqi_robot/naoqieus/naoqi-interface.l
  jsk_naoqi_robot/peppereus/pepper-interface.l
  jsk_naoqi_robot/sample/control_multiple_robots/boot_config1.json
  jsk_naoqi_robot/sample/control_multiple_robots/boot_config2.json
  jsk_naoqi_robot/sample/control_multiple_robots/sample1.l
  jsk_naoqi_robot/sample/control_multiple_robots/sample1.launch
  jsk_naoqi_robot/sample/control_multiple_robots/sample2.l
  jsk_naoqi_robot/sample/control_multiple_robots/sample2.launch
Labels: MergeOK, naoqi

#965 [fetch] Add pqp collision detection feature to grasp functions
  jsk_fetch_robot/fetcheus/fetch-utils.l
Labels: MergeOK, need fix

#1034 support InteractiveMarker for marker_msg_from_indigo_to_kinetic
  jsk_robot_common/jsk_robot_utils/scripts/marker_msg_from_indigo_to_kinetic.py
Labels: enhancement, review request

#978 [WIP] update how to use nao
  jsk_naoqi_robot/naoeus/README.md
Labels: MergeOK, naoqi

#1037 [jsk_naoqi_robot] fix wrong file path and typo at #1015
  jsk_naoqi_robot/README.md
  jsk_naoqi_robot/doc/control_multiple_robots_in_one_pc.md
  jsk_naoqi_robot/sample/control_multiple_robots/sample2.l
Labels: naoqi

#1033 [peppereus] add default poses: show Pepper's sensor
  jsk_naoqi_robot/peppereus/README.md
  jsk_naoqi_robot/peppereus/doc/img/bowing-pose.png
  jsk_naoqi_robot/peppereus/doc/img/greeting-pose.png
  jsk_naoqi_robot/peppereus/doc/img/look-foot.png
  jsk_naoqi_robot/peppereus/doc/img/nodding-pose.png
  jsk_naoqi_robot/peppereus/doc/img/ok-pose.png
  jsk_naoqi_robot/peppereus/doc/img/pointing-left-pose.png
  jsk_naoqi_robot/peppereus/doc/img/pointing-right-pose.png
  jsk_naoqi_robot/peppereus/doc/img/raise-left-hand-high.png
  jsk_naoqi_robot/peppereus/doc/img/raise-left-hand-low.png
  jsk_naoqi_robot/peppereus/doc/img/raise-right-hand-high.png
  jsk_naoqi_robot/peppereus/doc/img/raise-right-hand-low.png
  jsk_naoqi_robot/peppereus/doc/img/reset-pose.png
  jsk_naoqi_robot/peppereus/doc/img/show-bottom-camera.png
  jsk_naoqi_robot/peppereus/doc/img/show-head.png
  jsk_naoqi_robot/peppereus/doc/img/show-top-camera.png
  jsk_naoqi_robot/peppereus/doc/img/spread-hands-smally.png
  jsk_naoqi_robot/peppereus/doc/img/spread-hands-widely.png
  jsk_naoqi_robot/peppereus/doc/img/touch-speakers.png
  jsk_naoqi_robot/peppereus/doc/img/watching-pose.png
  jsk_naoqi_robot/peppereus/doc/img/wondering-pose.png
  jsk_naoqi_robot/peppereus/pepper.yaml
Labels: naoqi

#1039 [naoqieus] add group-namespace to speak-action method
  jsk_naoqi_robot/naoqieus/naoqi-interface.l
Labels: bug, naoqi

#973 jsk_robot_lifelog: add option to set custom collection for recording topics
  jsk_robot_common/jsk_robot_startup/src/jsk_robot_startup/lifelog/mongo_record.py
Labels: MergeOK, need fix
