Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2019-11, with the labels that each got.

#1164 [jsk_pr2_startup/cable_warning.l] Add moving is OK voice
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_warning/cable_warning.l
Labels: PR1012, PR1040, enhancement

#1177 Upload apt-cacher-ng cache & reduce baxtereus test time
  jsk_baxter_robot/baxtereus/test/test-baxter-moveit.l
  jsk_baxter_robot/baxtereus/test/test-baxter.l
Labels: enhancement

#1172 [fetcheus] skip undocking when subscribe timeout in go-to-spot
  jsk_fetch_robot/jsk_fetch_startup/euslisp/navigation-utils.l
Labels: bugfix, fetch15

#1173 Add Xavier Fixture for PR2
  jsk_pr2_robot/jsk_pr2_accessories/pr2_xavier/XavierBackFixture.SLDPRT
  jsk_pr2_robot/jsk_pr2_accessories/pr2_xavier/XavierBackFixture.STL
  jsk_pr2_robot/jsk_pr2_accessories/pr2_xavier/XavierFrontFixture.SLDPRT
  jsk_pr2_robot/jsk_pr2_accessories/pr2_xavier/XavierFrontFixture.STL
Labels: PR1040, enhancement

#1170 [peppereus] add gesture pose
  jsk_naoqi_robot/peppereus/README.md
  jsk_naoqi_robot/peppereus/doc/img/c-pose.png
  jsk_naoqi_robot/peppereus/doc/img/hiragana-tsu-pose.png
  jsk_naoqi_robot/peppereus/pepper.yaml
Labels: naoqi

#1165 [jsk_pr2_startup] To deal with NA battery
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_warning/battery_warning.py
Labels: PR1012, PR1040

#1163 Add fingertips for pr2 gripper
  jsk_pr2_robot/jsk_pr2_accessories/pr2_fingertips/PR2_Gripper_CL-M3-5.0-BR_20191030.SLDPRT
  jsk_pr2_robot/jsk_pr2_accessories/pr2_fingertips/PR2_Gripper_CL-M3-5.0-BR_20191030.STL
Labels: PR1012, PR1040, enhancement

#1162 [naoqieus] modify topic name of volume setting method
  jsk_naoqi_robot/naoqieus/doc/get_master_volume.md
  jsk_naoqi_robot/naoqieus/doc/set_master_volume.md
  jsk_naoqi_robot/naoqieus/naoqi-interface.l
Labels: bugfix, naoqi

#1161 [naoqieus] set body pose defined in a library
  jsk_naoqi_robot/naoqieus/README.md
  jsk_naoqi_robot/naoqieus/doc/get_defined_pose_list.md
  jsk_naoqi_robot/naoqieus/doc/set_body_pose_with_speed.md
  jsk_naoqi_robot/naoqieus/naoqi-interface.l
Labels: naoqi

#1151 [jsk_fetch_startup] add time_signal.py
  jsk_fetch_robot/jsk_fetch_startup/scripts/time_signal.py
Labels: enhancement, fetch15, question

#1115 [jsk_naoqi_robot] modify README: fix wrong sentences
  jsk_naoqi_robot/README.md
  jsk_naoqi_robot/naoqieus/README.md
  jsk_naoqi_robot/naoqieus/doc/go_pos.md
Labels: naoqi
