Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2019-10, with the labels that each got.

#1142 [jsk_robot_startup] set volume=1.0 for launch sound
  jsk_robot_common/jsk_robot_startup/util/finish_launch_sound.py
  jsk_robot_common/jsk_robot_startup/util/start_launch_sound.py
Labels: PR1040, bug

#1138 [jsk_fetch_startup] add speak battery app
  jsk_fetch_robot/jsk_fetch_startup/apps/fetch_apps.installed
  jsk_fetch_robot/jsk_fetch_startup/apps/speak_battery/speak_battery.app
  jsk_fetch_robot/jsk_fetch_startup/apps/speak_battery/speak_battery.interface
  jsk_fetch_robot/jsk_fetch_startup/apps/speak_battery/speak_battery.png
  jsk_fetch_robot/jsk_fetch_startup/apps/speak_battery/speak_battery.xml
  jsk_fetch_robot/jsk_fetch_startup/euslisp/speak-battery.l
Labels: enhancement, fetch15, hacktoberfest

#1137 [jsk_fetch_startup] add battery warning node to fetch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/scripts/battery_warning.py
Labels: fetch15, hacktoberfest

#1136 add voltage, current and temperature info for pr2 battery logger
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_warning/battery_logger.py
Labels: PR1040

#1139 [jsk_fetch_startup] fix typo in navigation-utils.l
  jsk_fetch_robot/jsk_fetch_startup/euslisp/navigation-utils.l
Labels: bug, fetch15, hacktoberfest

#1140 [jsk_fetch_startup] respawn fetch sound_play for audio_common bug
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
Labels: enhancement, fetch15, hacktoberfest

#1141 [jsk_pr2_startup/jsk_pr2_lifelog] fix typo in jsk_pr2_lifelog/db_client.launch
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_lifelog/db_client.launch
Labels: PR1040, bug

#1144 fix pr2-tweet-log.l to work correctly
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_lifelog/pr2-tweet-log.l
Labels: PR1040, bug

#1145 [jsk_robot_startup] wait until speech ends
  jsk_robot_common/jsk_robot_startup/lifelog/tweet_client.l
Labels: bug

#1126 [pr2] Add mannequin_mode setup
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
Labels: MergeOK

#1156 [fetcheus] Fix :go-velocity to reject non-zero y correctly
  jsk_fetch_robot/fetcheus/fetch-interface.l
  jsk_fetch_robot/fetcheus/test/test-fetcheus.l
Labels: bug, fetch15

#1128 [Fetch] do not speak warning diagnostics to avoid noisy fetch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/scripts/warning.py
Labels: MergeOK, enhancement, fetch15

#1159 [fetcheus] add min abs velocity in :go-pos-unsafe to prevent wheel slipping
  jsk_fetch_robot/fetcheus/fetch-interface.l
Labels: enhancement, fetch15

#1147 fix fetch robot localization and navigation
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_teleop.xml
  jsk_fetch_robot/jsk_fetch_startup/package.xml
  jsk_fetch_robot/jsk_fetch_startup/scripts/correct_position.py
  jsk_fetch_robot/jsk_fetch_startup/scripts/imu_corrector.py
  jsk_fetch_robot/jsk_fetch_startup/scripts/odom_corrector.py
Labels: enhancement, fetch15
