Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2019-09, with the labels that each got.

#1123 add robotsound and robotsound_jp in tts_action_names/speech_to_text
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_lifelog/pr2_microphone.launch
Labels: PR1012, PR1040, bug

#1055 [Fetch] Manage workspace in Fetch's PC by .rosinstall
  jsk_fetch_robot/jsk_fetch.rosinstall
Labels: need fix

#1127 update jsk_fetch.rosinstall
  jsk_fetch_robot/jsk_fetch.rosinstall
Labels: MergeOK, fetch15

#1090 [jsk_pr2_startup] fix ntp monitor in pr2_bringup.launch
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
Labels: question

#1097 Add teleop with euslisp
  jsk_robot_common/jsk_robot_utils/euslisp/hrp2jsknts-teleop-joy.l
  jsk_robot_common/jsk_robot_utils/euslisp/pr2-teleop-joy.l
  jsk_robot_common/jsk_robot_utils/euslisp/robot-teleop-joy.l
Labels: need fix
