Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2019-08, with the labels that each got.

#1114 [jsk_pepper_startup] add tweet without image
  jsk_naoqi_robot/jsk_pepper_startup/nodes/tweet-server.l
Labels: naoqi

#1109 [jsk_pepper_startup] update wakeup pose
  jsk_naoqi_robot/jsk_pepper_startup/nodes/take_wakeup_pose.py
Labels: naoqi

#1103 add tweet app for fetch
  jsk_fetch_robot/jsk_fetch_startup/apps/fetch_apps.installed
  jsk_fetch_robot/jsk_fetch_startup/apps/tweet/tweet.app
  jsk_fetch_robot/jsk_fetch_startup/apps/tweet/tweet.interface
  jsk_fetch_robot/jsk_fetch_startup/apps/tweet/tweet.png
  jsk_fetch_robot/jsk_fetch_startup/apps/tweet/tweet.xml
  jsk_fetch_robot/jsk_fetch_startup/euslisp/tweet.l
Labels: need fix

#1113 add inverse-kinematics-raw in baxter-robot
  jsk_baxter_robot/baxtereus/baxter-util.l
Labels: baxter, enhancement

#1017 [fetch] Enable speech recognition by google api
  .travis.rosinstall.indigo
  jsk_fetch_robot/jsk_fetch_startup/CMakeLists.txt
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_gazebo_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/test/roslaunch-check-fetch_bringup.xml
Labels: MergeOK
