Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2019-12, with the labels that each got.

#1184 Fix quater point cloud
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_sensors/kinect_head.launch
Labels: PR1040, bugfix, please check on real robot

#1178 Update parameters for navigation / safe_teleop
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/amcl_node.xml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/costmap_common_params.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/dwa_local_planner.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/global_costmap_params.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/local_costmap_params.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/move_base.xml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/move_base_params.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/navfn_ros_planner.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/pr2_2dnav.launch
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/recovery_behaviors.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/safe_teleop.xml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/safe_teleop_pr2_params.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/teb_local_planner_params.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_sensors/base_laser_filters.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_sensors/base_laser_filters_for_gazebo.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_sensors/lasers_and_filters.xml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_sensors/publish_empty_cloud.py
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_sensors/tilt_laser_filters.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_sensors/tilt_scan_filters.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_sensors/tilt_self_filter.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_sensors/tilt_shadow_filter.yaml
  jsk_pr2_robot/jsk_pr2_startup/pr2.launch
Labels: PR1040, bugfix, enhancement, please check on real robot

#1189 [jsk_fetch_startup] do not speak often when is_charging is True
  jsk_fetch_robot/jsk_fetch_startup/scripts/battery_warning.py
Labels: enhancement, fetch15

#1182 Fix battery warning
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_warning/battery_warning.py
Labels: PR1040, add more description, bugfix

#1121 fix to work LightweightLogger
  .travis.rosinstall.indigo
  jsk_robot_common/jsk_robot_startup/CMakeLists.txt
  jsk_robot_common/jsk_robot_startup/include/jsk_robot_startup/lightweight_logger.h
  jsk_robot_common/jsk_robot_startup/src/lightweight_logger_nodelet.cpp
Labels: bugfix, need fix

#1191 Add service interface to look-forward to start/stop from another process
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/look-forward-in-nav.l
Labels: PR1012, PR1040, enhancement
