Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2020-12, with the labels that each got.

#1258 [jsk_pr2_startup] add halt_motors and reset_motors srv
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_warning/pr2_reset_motors.py
Labels: PR1040, enhancement, hacktoberfest-accepted

#1301 [jsk_pr2_startup] add watch duration comment for pr2_reset_motors
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_warning/pr2_reset_motors.py
  jsk_pr2_robot/jsk_pr2_startup/pr2.launch
Labels: PR1040, enhancement

#1305 support :gripper in KinematicsSimulator mode
  jsk_fetch_robot/fetcheus/fetch-interface.l
Labels: enhancement, fetch15

#1308 [jsk_robot_startup] Look at human for Fetch and PR2
  jsk_fetch_robot/fetcheus/fetch-utils.l
  jsk_fetch_robot/jsk_fetch_startup/euslisp/fetch-look-at-human.l
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_lifelog/pr2-look-at-human.l
  jsk_pr2_robot/jsk_pr2_startup/pr2.launch
  jsk_robot_common/jsk_robot_startup/lifelog/look-at-human.l
Labels: PR1040, enhancement, fetch15, jsk_robot_startup

#1310 move `nav_speak.py` to `jsk_robot_startup` and use it in pr2
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/pr2_2dnav.launch
  jsk_robot_common/jsk_robot_startup/scripts/nav_speak.py
Labels: PR1040, enhancement, fetch1075, fetch15
