Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2020-10, with the labels that each got.

#1167 [fetcheus] do not set :wait-until-update when :worldcoords
  jsk_fetch_robot/fetcheus/fetch-interface.l
  jsk_fetch_robot/fetcheus/test/test-fetch-moveit.l
Labels: bugfix, fetch15, please add test

#1166 [fetcheus] fix radian in :go-pos-unsafe
  jsk_fetch_robot/fetcheus/fetch-interface.l
Labels: bugfix, fetch15, please add test

#1169 [fetcheus] override :move-to-wait to set :correction nil
  jsk_fetch_robot/fetcheus/fetch-interface.l
Labels: bugfix, fetch15

#1174 [fetcheus] Add fetch collision default
  jsk_fetch_robot/fetcheus/fetch-interface.l
Labels: enhancement, fetch15

#1209 [fetcheus] fix :go-pos-unsafe to add keyword arguments
  jsk_fetch_robot/fetcheus/fetch-interface.l
Labels: bugfix, fetch15
