Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2020-11, with the labels that each got.

#1274 [fetcheus] Fix :use-torso in *ri* :angle-vector and :angle-vector-sequence when simulation mode
  jsk_fetch_robot/fetcheus/fetch-interface.l
  jsk_fetch_robot/fetcheus/test/test-fetcheus.l
Labels: bugfix, fetch15

#1284 [jsk_pr2_startup] add use_map_keepout arg in pr2.launch
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/move_base.xml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/pr2_2dnav.launch
  jsk_pr2_robot/jsk_pr2_startup/pr2.launch
Labels: enhancement

#1150 [jsk_robot_lifelog/tweet_client.l] save image in euslisp
  jsk_robot_common/jsk_robot_startup/lifelog/tweet.launch
  jsk_robot_common/jsk_robot_startup/lifelog/tweet_client.l
  jsk_robot_common/jsk_robot_startup/lifelog/tweet_client_tablet.l
Labels: enhancement

#1226 [jsk_fetch_startup] switch to use jsk_maps multi_map_server
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
Labels: enhancement, fetch15

#1160 [jsk_fetch_startup] update navigation-utils.l to work auto-dock correctly.
  jsk_fetch_robot/jsk_fetch_startup/euslisp/navigation-utils.l
Labels: enhancement, fetch15
