Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2021-07, with the labels that each got.

#1218 [fetcheus] remove unnecessary ros node initialization in the first line
  jsk_fetch_robot/fetcheus/fetch-interface.l
Labels: MergeOK, enhancement, fetch15

#1313 Add initial jsk_kinova_robot package
  jsk_kinova_robot/README.md
  jsk_kinova_robot/jsk_kinova_startup/CMakeLists.txt
  jsk_kinova_robot/jsk_kinova_startup/config/kinova.rviz
  jsk_kinova_robot/jsk_kinova_startup/launch/kinova_bringup.launch
  jsk_kinova_robot/jsk_kinova_startup/launch/rviz.launch
  jsk_kinova_robot/jsk_kinova_startup/package.xml
  jsk_kinova_robot/jsk_kinova_startup/scripts/avoid_lint_error.py
  jsk_kinova_robot/kinova.rosinstall
  jsk_kinova_robot/kinovaeus/.gitignore
  jsk_kinova_robot/kinovaeus/CMakeLists.txt
  jsk_kinova_robot/kinovaeus/gen3_lite_gen3_lite_2f.yaml
  jsk_kinova_robot/kinovaeus/gen3_robotiq_2f_140.yaml
  jsk_kinova_robot/kinovaeus/gen3_robotiq_2f_85.yaml
  jsk_kinova_robot/kinovaeus/kinova-interface.l
  jsk_kinova_robot/kinovaeus/kinova-utils.l
  jsk_kinova_robot/kinovaeus/kinova.l
  jsk_kinova_robot/kinovaeus/package.xml
  jsk_kinova_robot/kinovaeus/test/test-kinova-kinematic-simulator.l
  jsk_kinova_robot/kinovaeus/test/test-kinova-kinematic-simulator.test
  jsk_kinova_robot/kinovaeus/test/test-kinova-moveit.l
  jsk_kinova_robot/kinovaeus/test/test-kinova-moveit.test
  jsk_kinova_robot/kinovaeus/test/test-kinova.l
  jsk_kinova_robot/kinovaeus/test/test-kinova.test
Labels: MergeOK, enhancement, kinova

#1340 [jsk_pr2_moveit] add start_pr2_moveit_remote.launch for running moveit in remote PC
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_moveit/sensors_kinect_remote.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_moveit/sensors_remote.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_moveit/start_pr2_moveit_remote.launch
Labels: MergeOK, PR1040

#1334 [jsk_naoqi_robot] Update README
  jsk_naoqi_robot/README.md
Labels: MergeOK, naoqi

#1348 [baxtereus] return-from :go-grasp and :command-grasp in baxter kinematics simulator
  jsk_baxter_robot/baxtereus/baxter-interface.l
Labels: MergeOK, baxter, bugfix

#1230 [jsk_naoqi_robot] add ros_speech_recognition to jsk_nao_startup.launch
  jsk_naoqi_robot/README.md
  jsk_naoqi_robot/jsk_nao_startup/README.md
  jsk_naoqi_robot/jsk_nao_startup/launch/jsk_nao_startup.launch
  jsk_naoqi_robot/jsk_nao_startup/package.xml
  jsk_naoqi_robot/jsk_nao_startup/scripts/publish_audiodata.py
Labels: MergeOK, naoqi

#1250 [jsk_fetch_accessories] add fetch head box mesh files
  jsk_fetch_robot/jsk_fetch_accessories/head_box/fetch_head_box_v2.stp
  jsk_fetch_robot/jsk_fetch_accessories/head_box/fetch_head_box_v2_simplified.stl
Labels: MergeOK, enhancement, fetch15

#1289 [jsk_pr2_startup] fix typo in pr2_bringup.launch: `pr2_etherCAT` -> `pr2_ethercat`
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
Labels: MergeOK, PR1040, bugfix

#1317 Support both sixad joy and linux joy
  jsk_fetch_robot/jsk_fetch.rosinstall
  jsk_fetch_robot/jsk_fetch_startup/config/ds3joy_indigo.yaml
  jsk_fetch_robot/jsk_fetch_startup/config/ds3joy_melodic.yaml
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_teleop.xml
Labels: MergeOK, enhancement, fetch1075, fetch15

#1254 [jsk_fetch_startup] Select speech_to_text service based on network condition
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/package.xml
Labels: MergeOK, enhancement, fetch15, hacktoberfest-accepted

#1277 [jsk_fetch_startup] Add RViz panel to publish /move_base/cancel
  jsk_fetch_robot/jsk_fetch_startup/config/jsk_startup.rviz
Labels: MergeOK, fetch1075, fetch15

#1283 Create touchegg config file when catkin build
  jsk_fetch_robot/jsk_fetch_startup/CMakeLists.txt
  jsk_fetch_robot/jsk_fetch_startup/config/RVizfetch.desktop.in
  jsk_fetch_robot/jsk_fetch_startup/config/touchegg.conf
  jsk_fetch_robot/jsk_fetch_startup/config/touchegg.desktop
  jsk_fetch_robot/jsk_fetch_startup/data/fetch.jpg
  jsk_fetch_robot/jsk_fetch_startup/data/fetch_blue.jpg
  jsk_fetch_robot/jsk_fetch_startup/data/fetch_green.jpg
  jsk_fetch_robot/jsk_fetch_startup/data/fetch_red.jpg
  jsk_fetch_robot/jsk_fetch_startup/package.xml
Labels: MergeOK, enhancement, fetch15

#1296 Change tweet app icon
  jsk_fetch_robot/jsk_fetch_startup/apps/tweet/tweet.png
Labels: MergeOK, enhancement, fetch15

#1291 [jsk_fetch_startup] resize speak_battery.png
  jsk_fetch_robot/jsk_fetch_startup/apps/speak_battery/speak_battery.png
Labels: MergeOK, enhancement, fetch15

#1256 [jsk_robot_startup] set enable_app_replacement false in app_manager
  jsk_robot_common/jsk_robot_startup/lifelog/app_manager.launch
Labels: MergeOK, PR1040, enhancement, fetch15, hacktoberfest-accepted

#1255 [jsk_robot_startup] Wait for other nodes to speak in nav_speak.py
  jsk_robot_common/jsk_robot_startup/scripts/nav_speak.py
Labels: MergeOK, PR1040, enhancement, fetch15, hacktoberfest-accepted, jsk_robot_startup

#1276 [jsk_fetch_accessories] Add insta360 fixture
  jsk_fetch_robot/jsk_fetch_accessories/insta360_fixture/README.md
  jsk_fetch_robot/jsk_fetch_accessories/insta360_fixture/insta360.SLDASM
  jsk_fetch_robot/jsk_fetch_accessories/insta360_fixture/insta360_lower.SLDPRT
  jsk_fetch_robot/jsk_fetch_accessories/insta360_fixture/insta360_lower.STL
  jsk_fetch_robot/jsk_fetch_accessories/insta360_fixture/insta360_upper.SLDPRT
  jsk_fetch_robot/jsk_fetch_accessories/insta360_fixture/insta360_upper.STL
  jsk_fetch_robot/jsk_fetch_accessories/insta360_fixture/insta360_upper_fixture.SLDPRT
  jsk_fetch_robot/jsk_fetch_accessories/insta360_fixture/insta360_upper_fixture.STL
Labels: MergeOK, fetch1075, fetch15

#1292 [jsk_fetch_startup] add user_speech_notifier in tweet, time_signal, speak_battery apps
  jsk_fetch_robot/jsk_fetch_startup/apps/speak_battery/speak_battery.app
  jsk_fetch_robot/jsk_fetch_startup/apps/time_signal/time_signal.app
  jsk_fetch_robot/jsk_fetch_startup/apps/tweet/tweet.app
Labels: MergeOK, enhancement

#1268 [fetcheus] make keepout smaller
  jsk_fetch_robot/fetcheus/fetch-interface.l
Labels: MergeOK, enhancement, fetch15

#1188 Add fetch virtual joint for fetch moveit config
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/moveit/fetch.srdf.xacro
Labels: MergeOK, enhancement, fetch15

#1200 [fetch] make jsk_fetch_accessories to ros package
  jsk_fetch_robot/jsk_fetch_accessories/CMakeLists.txt
  jsk_fetch_robot/jsk_fetch_accessories/package.xml
Labels: MergeOK, enhancement, fetch15

#1198 [jsk_pr2_startup] Add calibration warning node to warn for users
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_warning/calibration_warning.py
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
Labels: MergeOK, PR1012, PR1040, enhancement

#1227 [merge after #1225] add rwt_image_view for pr2
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
  jsk_robot_common/jsk_robot_startup/lifelog/rwt_image_view.launch
Labels: MergeOK, PR1040, enhancement

#1193 [jsk_fetch_startup] use plugin for applist load in fetch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
Labels: MergeOK, enhancement, fetch15

#1267 [jsk_fetch_startup] set param names for move_slow_and_clear
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
Labels: MergeOK, bugfix, fetch15

#1100 add jsk_pr2_perception launch
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_perception/mask_rcnn.launch
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_perception/openpose.launch
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_perception/pr2_perception.launch
Labels: MergeOK, PR1040, enhancement

#1168 [fetcheus] fix ros-info in :go-pos-unsafe in fetch-interface.l
  jsk_fetch_robot/fetcheus/fetch-interface.l
Labels: MergeOK, bugfix, fetch15

#1223 [jsk_pr2_startup] add throttle for tilt_scan and compressed rgb/depth images
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_sensors/kinect_head.launch
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_sensors/lasers_and_filters.xml
Labels: MergeOK, PR1012, PR1040, enhancement

#1233 [waiting for upstream] [jsk_pr2_startup] add basic authentication in roswww pages on pr2
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
  jsk_robot_common/jsk_robot_startup/lifelog/app_manager.launch
Labels: MergeOK, PR1040, enhancement

#1271 [fetcheus] add provide in fetch-interface
  jsk_fetch_robot/fetcheus/fetch-interface.l
Labels: MergeOK, enhancement, fetch15

#1270 [baxtereus] add provide in baxter-interface
  jsk_baxter_robot/baxtereus/baxter-interface.l
Labels: MergeOK, baxter, enhancement

#1248 [jsk_pr2_startup/pr2_bringup.launch] add launch_audio_play in pr2_bringup.launch
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
Labels: MergeOK, PR1040, enhancement

#1295 [jsk_robot_startup] add personal use app in jsk_robot_startup
  jsk_robot_common/jsk_robot_startup/apps/personal_use/personal_use.app
  jsk_robot_common/jsk_robot_startup/apps/personal_use/personal_use.interface
  jsk_robot_common/jsk_robot_startup/apps/personal_use/personal_use.png
  jsk_robot_common/jsk_robot_startup/apps/personal_use/personal_use.py
  jsk_robot_common/jsk_robot_startup/apps/personal_use/personal_use.xml
  jsk_robot_common/jsk_robot_startup/apps/robot_apps.installed
  jsk_robot_common/jsk_robot_startup/package.xml
Labels: MergeOK, enhancement, jsk_robot_startup

#1228 [jsk_pr2_startup] add rosbag_play.launch and rosbag_record.launch for pr2
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_lifelog/rosbag_play.launch
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_lifelog/rosbag_record.launch
Labels: MergeOK, PR1040, enhancement

#1293 [jsk_fetch_startup] speak also battery information in english
  jsk_fetch_robot/jsk_fetch_startup/scripts/battery_warning.py
Labels: MergeOK, enhancement

#1278 [jsk_fetch_startup] Correct position when docking for fetch1075
  jsk_fetch_robot/jsk_fetch_startup/euslisp/navigation-utils.l
  jsk_fetch_robot/jsk_fetch_startup/scripts/correct_position.py
Labels: MergeOK, fetch1075, fetch15

#1272 [fetcheus] Add methods to set/delete workspace collision object for safety
  jsk_fetch_robot/fetcheus/fetch-interface.l
Labels: MergeOK, enhancement, fetch15

#1217 fix for tutorials
  jsk_pr2_robot/jsk_pr2_startup/pr2_gazebo.launch
Labels: MergeOK, bugfix

#1261 [jsk_fetch_startup] Add lightweight rviz config to reduce navigation load
  jsk_fetch_robot/jsk_fetch_startup/config/lightweight_navigation.rviz
Labels: MergeOK, enhancement, fetch15, hacktoberfest-accepted

#1192 Enable recovery_behavior
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/move_base_params.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_move_base/recovery_behaviors.yaml
Labels: MergeOK, PR1012, PR1040, enhancement

#1347 [jsk_pr2_lifelog] do not store depth and rgb in mongodb
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_lifelog/db_client.launch
Labels: PR1040, question

#1315 [fetcheus] use world as default for fetch :state :worldcoords
  jsk_fetch_robot/README.md
  jsk_fetch_robot/fetcheus/fetch-interface.l
Labels: enhancement, fetch15

#1320 Add supervisor icon to access supervisor status
  jsk_fetch_robot/jsk_fetch_startup/CMakeLists.txt
  jsk_fetch_robot/jsk_fetch_startup/config/Supervisorfetch.desktop.in
  jsk_fetch_robot/jsk_fetch_startup/data/supervisor.png
  jsk_fetch_robot/jsk_fetch_startup/data/supervisor_blue.png
  jsk_fetch_robot/jsk_fetch_startup/data/supervisor_green.png
  jsk_fetch_robot/jsk_fetch_startup/data/supervisor_red.png
Labels: fetch1075, fetch15, need fix

#1282 [jsk_pr2_startup] add network status node in pr2_bringup.launch
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
Labels: MergeOK, PR1040, enhancement

#1220 [jsk_fetch_startup] add rosbag_play.launch and rosbag_record.launch
  jsk_fetch_robot/jsk_fetch_startup/config/jsk_startup.rviz
  jsk_fetch_robot/jsk_fetch_startup/launch/rosbag_play.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/rosbag_record.launch
  jsk_fetch_robot/jsk_fetch_startup/scripts/latched_topic_republisher.py
Labels: MergeOK, enhancement, fetch15

#1285 [jsk_fetch_startup] add network_status in fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
Labels: NeedDiscussion, enhancement, fetch15

#1355 add jsk_fetch.rosinstall.melodic
  jsk_fetch_robot/jsk_fetch.rosinstall.melodic
Labels: fetch1075, fetch15

#1247 [merge after #1227] [jsk_pr2_startup] launch roswww, rosbridge, web_video_server on c2
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
  jsk_robot_common/jsk_robot_startup/lifelog/rwt_image_view.launch
Labels: MergeOK, PR1040, enhancement

#1300 [jsk_pr2_startup] change realtime_socket_timeout and max_pd_retries
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
Labels: MergeOK, PR1040, bugfix

#1210 Add .rosinstall file for melodic fetch user
  jsk_fetch_robot/README.md
  jsk_fetch_robot/jsk_fetch_user.rosinstall.melodic
Labels: MergeOK, enhancement, fetch15

#1251 [jsk_pr2_startup] add virtual force launch
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
Labels: MergeOK, PR1040, enhancement

#1240 [jsk_fetch_startup] use openweathermap api in time_signal.py
  jsk_fetch_robot/jsk_fetch_startup/scripts/time_signal.py
Labels: MergeOK, bugfix, fetch15

#1239 [jsk_fetch_startup] add use_build_map in fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
Labels: enhancement, fetch15

#1206 [jsk_fetch_startup] fix odom topic of move_base and teleop
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_teleop.xml
Labels: MergeOK, enhancement, fetch15, need fix

#1199 [jsk_fetch_startup] add base_camera_mount_mk1 models
  jsk_fetch_robot/jsk_fetch_accessories/base_camera_mount_mk1/fetch_base_camera_mount_mk1.step
  jsk_fetch_robot/jsk_fetch_accessories/base_camera_mount_mk1/fetch_base_camera_mount_mk1_collision.stl
  jsk_fetch_robot/jsk_fetch_accessories/base_camera_mount_mk1/fetch_base_camera_mount_mk1_main.stl
Labels: MergeOK, enhancement, fetch15

#1224 [jsk_robot_common] use play-sound in pr2eus/speak.l for unsafe_warning.l
  jsk_robot_common/jsk_robot_startup/lifelog/unsafe_warning.l
Labels: PR1040, bugfix, fetch15

#1212 [fetcheus] add fetch-navigation.test
  .travis.rosinstall
  jsk_fetch_robot/fetcheus/CMakeLists.txt
  jsk_fetch_robot/fetcheus/package.xml
  jsk_fetch_robot/fetcheus/test/blank_map.pgm
  jsk_fetch_robot/fetcheus/test/blank_map.yaml
  jsk_fetch_robot/fetcheus/test/fetch-navigation.test
  jsk_fetch_robot/fetcheus/test/test-fetch-navigation.l
Labels: MergeOK, enhancement, fetch15

#1349 [baxtereus] support multiple coords for baxter ik
  jsk_baxter_robot/baxtereus/baxter-util.l
  jsk_baxter_robot/baxtereus/test/test-baxter.l
  jsk_baxter_robot/jsk_baxter_startup/jsk_baxter_tools/initialize_baxter.py
Labels: baxter, bugfix

#1262 move boost sound.py from jsk_fetch_startup to jsk_robot_startup
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_robot_common/jsk_robot_startup/scripts/boot_sound.py
Labels: enhancement, fetch15

#1286 [jsk_pr2_startup] move sound jp from pr2 launch to pr2_bringup launch
  jsk_pr2_robot/jsk_pr2_startup/pr2.launch
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
Labels: MergeOK, PR1040, enhancement

#1318 Add plug protector stl model for fetch's base station
  jsk_fetch_robot/jsk_fetch_accessories/plug_protector/fetch_plug_protector.SLDPRT
  jsk_fetch_robot/jsk_fetch_accessories/plug_protector/fetch_plug_protector.STL
Labels: fetch1075, fetch15

#1359 fix import error on base_trajectory_logger.py
  jsk_robot_common/jsk_robot_startup/CMakeLists.txt
  jsk_robot_common/jsk_robot_startup/lifelog/test/test_common_logger.py
  jsk_robot_common/jsk_robot_startup/lifelog/test/test_common_logger.test
  jsk_robot_common/jsk_robot_startup/src/jsk_robot_startup/OdometryFeedbackWrapper.py
  jsk_robot_common/jsk_robot_startup/src/jsk_robot_startup/lifelog/base_trajectory_logger.py
Labels: bugfix, jsk_robot_startup

#1361 [jsk_pr2_startup] update pr2 rviz config
  jsk_pr2_robot/jsk_pr2_startup/config/jsk_startup.rviz
Labels: PR1040, enhancement

#1360 Add automated_logger
  jsk_robot_common/jsk_robot_startup/lifelog/automated_logger.py
  jsk_robot_common/jsk_robot_startup/lifelog/test/lazy_publisher.py
  jsk_robot_common/jsk_robot_startup/lifelog/test/lazy_subscriber.py
  jsk_robot_common/jsk_robot_startup/lifelog/test/simulate_lazy.launch
Labels: enhancement, jsk_robot_startup

#1363 [jsk_fetch_startup] use odom_combined topic in fetch_nav and fetch_teleop
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_teleop.xml
Labels: MergeOK, bugfix, fetch1075, fetch15

#1269 [fetcheus] Use attached object for collision object
  jsk_fetch_robot/fetcheus/fetch-interface.l
Labels: enhancement, fetch15, need fix

#1148 add fetch_ros in jsk_fetch.rosinstall.indigo
  jsk_fetch_robot/jsk_fetch.rosinstall.indigo
Labels: MergeOK, NeedDiscussion, enhancement, fetch15

#1280 [jsk_fetch_startup] add robot_pose_publisher in fetch_bringup.launch
  .travis.rosinstall.melodic
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/package.xml
Labels: MergeOK, enhancement, fetch15

#1367 [jsk_fetch_startup] add volume params in several speaking nodes
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_teleop.xml
  jsk_fetch_robot/jsk_fetch_startup/scripts/battery_warning.py
  jsk_fetch_robot/jsk_fetch_startup/scripts/warning.py
  jsk_robot_common/jsk_robot_startup/scripts/nav_speak.py
Labels: enhancement, fetch15
