Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2021-09, with the labels that each got.

#1373 Set MoveIt! sample_duration to avoid too dense trajectory in MoveIt!
  jsk_kinova_robot/jsk_kinova_startup/launch/kinova_bringup.launch
Labels: enhancement, MergeOK, kinova

#1372 Update jsk_kinova_startup dependencies to reflect kinova upstream
  jsk_kinova_robot/kinova.rosinstall
  jsk_kinova_robot/kinovaeus/package.xml
Labels: MergeOK, kinova

#1366 [jsk_fetch_startup] Do not replace sound when other node is speaking
  jsk_fetch_robot/jsk_fetch.rosinstall.melodic
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/scripts/battery_warning.py
  jsk_robot_common/jsk_robot_startup/scripts/boot_sound.py
Labels: enhancement, MergeOK, fetch15

#1369 [jsk_fetch_startup] add audio play and duration args to rosbag_play.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/rosbag_play.launch
Labels: enhancement, MergeOK, fetch15

#1330 add check_room_light.py to check if room light is on
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_pr2_robot/jsk_pr2_startup/pr2.launch
  jsk_robot_common/jsk_robot_startup/CMakeLists.txt
  jsk_robot_common/jsk_robot_startup/README.md
  jsk_robot_common/jsk_robot_startup/msg/RoomLight.msg
  jsk_robot_common/jsk_robot_startup/package.xml
  jsk_robot_common/jsk_robot_startup/scripts/check_room_light.py
Labels: enhancement, MergeOK, jsk_robot_startup

#1316 Melodic support for jsk fetch
  jsk_fetch_robot/jsk_fetch.rosinstall.indigo
  jsk_fetch_robot/jsk_fetch_startup/apps/go_to_kitchen/go_to_kitchen.app
  jsk_fetch_robot/jsk_fetch_startup/apps/speak_battery/speak_battery.xml
  jsk_fetch_robot/jsk_fetch_startup/apps/time_signal/time_signal.app
  jsk_fetch_robot/jsk_fetch_startup/apps/time_signal/time_signal.xml
  jsk_fetch_robot/jsk_fetch_startup/euslisp/navigation-utils.l
  jsk_fetch_robot/jsk_fetch_startup/euslisp/speak-battery.l
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_t265.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_teleop.xml
  jsk_fetch_robot/jsk_fetch_startup/package.xml
  jsk_fetch_robot/jsk_fetch_startup/robots/jsk_fetch.urdf.xacro
  jsk_fetch_robot/jsk_fetch_startup/scripts/imu_corrector.py
  jsk_fetch_robot/jsk_fetch_startup/scripts/link_calibration_files.bash
  jsk_fetch_robot/jsk_fetch_startup/scripts/odom_corrector.py
  jsk_fetch_robot/jsk_fetch_startup/scripts/odometry_transformer.py
  jsk_fetch_robot/jsk_fetch_startup/scripts/setup_audio.bash
  jsk_fetch_robot/jsk_fetch_startup/scripts/time_signal.py
  jsk_fetch_robot/jsk_fetch_startup/scripts/wait_app_manager.bash
  jsk_fetch_robot/jsk_fetch_startup/supervisor_scripts/jsk-app-scheduler.conf
  jsk_fetch_robot/jsk_fetch_startup/supervisor_scripts/jsk-coral.conf
  jsk_fetch_robot/jsk_fetch_startup/supervisor_scripts/jsk-dialog.conf
  jsk_fetch_robot/jsk_fetch_startup/supervisor_scripts/jsk-fetch-startup.conf
  jsk_fetch_robot/jsk_fetch_startup/supervisor_scripts/jsk-gdrive.conf
  jsk_fetch_robot/jsk_fetch_startup/supervisor_scripts/jsk-log-wifi.conf
  jsk_fetch_robot/jsk_fetch_startup/supervisor_scripts/jsk-network-monitor.conf
  jsk_fetch_robot/jsk_fetch_startup/supervisor_scripts/robot.conf
  jsk_fetch_robot/jsk_fetch_startup/supervisor_scripts/roscore.conf
  jsk_fetch_robot/jsk_fetch_startup/udev_rules/99-jsk-ps3joy.rules
  jsk_fetch_robot/jsk_fetch_startup/upstart_scripts/jsk-app-scheduler.conf
  jsk_fetch_robot/jsk_fetch_startup/upstart_scripts/jsk-fetch-startup.conf
  jsk_fetch_robot/jsk_fetch_startup/upstart_scripts/robot.conf
Labels: fetch15, fetch1075

#1386 [jsk_fetch_robot] remove double rosinstall entry in jsk_fetch.rosinstall.indigo
  jsk_fetch_robot/jsk_fetch.rosinstall.indigo
Labels: bugfix, fetch15

#1385 [jsk_fetch_startup] remove unnecessary robot_localization in fetch_brinup.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
Labels: bugfix, fetch15

#1383 [jsk_fetch_startup] make base_camera_mount and head_box xacro
  jsk_fetch_robot/jsk_fetch_startup/CMakeLists.txt
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch.launch
  jsk_fetch_robot/jsk_fetch_startup/package.xml
  jsk_fetch_robot/jsk_fetch_startup/robots/base_camera_mount.urdf.xacro
  jsk_fetch_robot/jsk_fetch_startup/robots/head_box.urdf.xacro
  jsk_fetch_robot/jsk_fetch_startup/robots/jsk_fetch.urdf.xacro
Labels: bugfix, fetch15

#1341 [jsk_pr2_robot] enabled imu for localization
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
Labels: review request, PR1040

#1371 [merge after #1383] add realsense support and enable T265 odometry
  jsk_fetch_robot/jsk_fetch_startup/README.md
  jsk_fetch_robot/jsk_fetch_startup/launch/devices/realsense_nodelet.launch.xml
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_realsense_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_t265.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_visual_odom.launch
  jsk_fetch_robot/jsk_fetch_startup/robots/base_camera_mount.urdf.xacro
  jsk_fetch_robot/jsk_fetch_startup/scripts/odometry_mux_selector.py
  jsk_fetch_robot/jsk_fetch_startup/scripts/odometry_transformer.py
  jsk_fetch_robot/jsk_fetch_startup/upstart_scripts/robot.conf
Labels: MergeOK, fetch15

#1302 add initial jsk cobotta packages
  .github/workflows/kinetic.yml
  .github/workflows/melodic.yml
  .github/workflows/noetic.yml
  jsk_denso_robot/README.md
  jsk_denso_robot/cobottaeus/CMakeLists.txt
  jsk_denso_robot/cobottaeus/cobotta-interface.l
  jsk_denso_robot/cobottaeus/cobotta-utils.l
  jsk_denso_robot/cobottaeus/cobotta.yaml
  jsk_denso_robot/cobottaeus/package.xml
  jsk_denso_robot/cobottaeus/sample/check-duration-factor.l
  jsk_denso_robot/cobottaeus/test/test-cobotta.l
  jsk_denso_robot/cobottaeus/test/test-cobotta.test
  jsk_denso_robot/denso.rosinstall
  jsk_denso_robot/img/vtp-connect.png
  jsk_denso_robot/img/vtp-display.png
  jsk_denso_robot/img/vtp-exec1.png
  jsk_denso_robot/img/vtp-exec2.png
  jsk_denso_robot/img/vtp-exec3.png
  jsk_denso_robot/img/vtp-exec4.png
  jsk_denso_robot/img/vtp-init.png
  jsk_denso_robot/img/vtp-login.png
  jsk_denso_robot/img/vtp-network1.png
  jsk_denso_robot/img/vtp-network2.png
  jsk_denso_robot/img/vtp-network3.png
  jsk_denso_robot/img/vtp-skip.png
  jsk_denso_robot/jsk_cobotta_startup/CMakeLists.txt
  jsk_denso_robot/jsk_cobotta_startup/launch/cobotta_bringup.launch
  jsk_denso_robot/jsk_cobotta_startup/package.xml
Labels: enhancement, review request, cobotta

#1381 [jsk_robot_startup] add check_use_sim_time app
  jsk_robot_common/jsk_robot_startup/apps/check_use_sim_time/check_use_sim_time.app
  jsk_robot_common/jsk_robot_startup/apps/check_use_sim_time/check_use_sim_time.interface
  jsk_robot_common/jsk_robot_startup/apps/check_use_sim_time/check_use_sim_time.png
  jsk_robot_common/jsk_robot_startup/apps/check_use_sim_time/check_use_sim_time.py
  jsk_robot_common/jsk_robot_startup/apps/check_use_sim_time/check_use_sim_time.xml
  jsk_robot_common/jsk_robot_startup/apps/robot_apps.installed
Labels: PR1040, jsk_robot_startup

#1393 [jsk_pr2_startup] launch dialogflow task executive in pr2.launch
  jsk_pr2_robot/jsk_pr2_startup/pr2.launch
Labels: enhancement, PR1040

#1266 add jsk_magni_startup
  .travis.rosinstall.melodic
  jsk_magni_robot/jsk_magni_startup/CMakeLists.txt
  jsk_magni_robot/jsk_magni_startup/README.md
  jsk_magni_robot/jsk_magni_startup/data/2001.wav
  jsk_magni_robot/jsk_magni_startup/jsk_magni.machine
  jsk_magni_robot/jsk_magni_startup/launch/magni_bringup.launch
  jsk_magni_robot/jsk_magni_startup/package.xml
Labels: enhancement, need fix, magni

#1213 [jsk_fetch_startup] Add fetch gazebo demo using roseus
  jsk_fetch_robot/README.md
  jsk_fetch_robot/jsk_fetch_gazebo_demo/CMakeLists.txt
  jsk_fetch_robot/jsk_fetch_gazebo_demo/README.md
  jsk_fetch_robot/jsk_fetch_gazebo_demo/config/demo.rviz
  jsk_fetch_robot/jsk_fetch_gazebo_demo/euslisp/demo.l
  jsk_fetch_robot/jsk_fetch_gazebo_demo/launch/demo.launch
  jsk_fetch_robot/jsk_fetch_gazebo_demo/package.xml
  jsk_fetch_robot/jsk_fetch_gazebo_demo/test/grasping_objects.bag
  jsk_fetch_robot/jsk_fetch_gazebo_demo/test/grasping_objects.test
  jsk_fetch_robot/jsk_fetch_gazebo_demo/test/jsk_fetch_gazebo_demo.test
  jsk_fetch_robot/jsk_fetch_gazebo_demo/test/test-demo.l
  jsk_fetch_robot/jsk_fetch_gazebo_demo/test/test-grasping-objects.l
Labels: enhancement, MergeOK, fetch15

#1394 Publish resized panorama images
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_insta360_indigo.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_insta360_melodic.launch
Labels: enhancement, fetch15

#1396 [speak_and_wait_recovery] add speak_and_wait_recovery package
  jsk_robot_common/speak_and_wait_recovery/CMakeLists.txt
  jsk_robot_common/speak_and_wait_recovery/README.md
  jsk_robot_common/speak_and_wait_recovery/include/speak_and_wait_recovery/speak_and_wait_recovery.h
  jsk_robot_common/speak_and_wait_recovery/launch/demo.launch
  jsk_robot_common/speak_and_wait_recovery/package.xml
  jsk_robot_common/speak_and_wait_recovery/speak_and_wait_plugin.xml
  jsk_robot_common/speak_and_wait_recovery/src/speak_and_wait_recovery.cpp
  jsk_robot_common/speak_and_wait_recovery/test/speak_and_wait_recovery.test
  jsk_robot_common/speak_and_wait_recovery/test/speak_and_wait_recovery_simple_node.cpp
  jsk_robot_common/speak_and_wait_recovery/test/test_speak_and_wait.py
Labels: enhancement, fetch15

#1309 Add udev rules used by fetch15 and fetch1075
  jsk_fetch_robot/jsk_fetch_startup/config/install_udev.sh
  jsk_fetch_robot/jsk_fetch_startup/udev_rules/60-respeaker.rules
  jsk_fetch_robot/jsk_fetch_startup/udev_rules/80-arduino.rules
  jsk_fetch_robot/jsk_fetch_startup/udev_rules/99-edgetpu-accelerator.rules
  jsk_fetch_robot/jsk_fetch_startup/udev_rules/99-insta360-air.rules
  jsk_fetch_robot/jsk_fetch_startup/udev_rules/99-jsk-ps3joy.rules
Labels: enhancement, need fix, fetch15, fetch1075
