Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2022-11, with the labels that each got.

#1717 [jsk_robot_startup/src/jsk_robot_startup/email_topic_client.py] update msg body format based on new Email.msg
  jsk_robot_common/jsk_robot_startup/src/jsk_robot_startup/email_topic_client.py
Labels: jsk_robot_startup

#1703 [develop/fetch] refactor navigation-utils.l
  jsk_fetch_robot/jsk_fetch_startup/euslisp/go-to-kitchen.l
  jsk_fetch_robot/jsk_fetch_startup/euslisp/navigation-utils.l
Labels: develop/fetch, Fetch

#1727 [jsk_fetch_startup/kitchen] Send image when a robot recognized some objects
  jsk_fetch_robot/jsk_fetch_startup/euslisp/go-to-kitchen.l
Labels: develop/fetch

#1731 [naoeus] use robot-move-base-interface for naoqi-interface
  jsk_naoqi_robot/naoqieus/naoqi-interface.l
Labels: naoqi

#1737 [jsk_robot_startup] Use checking node status for timeout
  jsk_robot_common/jsk_robot_startup/scripts/smach_to_mail.py
Labels: develop/fetch

#1736 [develop/fetch] camera shutter volume control ad sound only when speak is t
  jsk_robot_common/jsk_robot_startup/lifelog/tweet_client.l
Labels: develop/fetch
