Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2022-08, with the labels that each got.

#1485 [jsk_robot_startup] Support embed image in email_topic.py
  jsk_robot_common/jsk_robot_startup/CMakeLists.txt
  jsk_robot_common/jsk_robot_startup/euslisp/email-topic-client.l
  jsk_robot_common/jsk_robot_startup/euslisp/sample-email-topic-client.l
  jsk_robot_common/jsk_robot_startup/msg/Email.msg
  jsk_robot_common/jsk_robot_startup/msg/EmailBody.msg
  jsk_robot_common/jsk_robot_startup/scripts/email_topic.py
Labels: question, fetch15, jsk_robot_startup

#1508 [jsk_fetch_startup] add switchbot in fetch_bringup.launch
  .travis.rosinstall.melodic
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_gazebo_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/package.xml
Labels: enhancement, fetch15, fetch1075, WaitForCI

#1487 [jsk_fetch_startup] Use mongodb_store which can manage logerr throttle rate
  jsk_fetch_robot/jsk_fetch.rosinstall.melodic
Labels: enhancement, MergeOK, fetch15, fetch1075

#1408 Add new joints moving together
  jsk_naoqi_robot/naoeus/nao-utils.l
  jsk_naoqi_robot/naoeus/sample/nao-test-ik.l
Labels: MergeOK

#1509 [jsk_denso_robot] Support COBOTTA OSS type
  .travis.rosinstall.kinetic
  .travis.rosinstall.melodic
  .travis.rosinstall.noetic
  jsk_denso_robot/README.md
  jsk_denso_robot/cobottaeus/.gitignore
  jsk_denso_robot/cobottaeus/CMakeLists.txt
  jsk_denso_robot/cobottaeus/cobotta-oss-interface.l
  jsk_denso_robot/cobottaeus/cobotta-utils.l
  jsk_denso_robot/cobottaeus/package.xml
  jsk_denso_robot/denso.rosinstall
  jsk_denso_robot/jsk_cobotta_startup/CMakeLists.txt
  jsk_denso_robot/jsk_cobotta_startup/launch/cobotta_oss_bringup.launch
  jsk_denso_robot/jsk_cobotta_startup/package.xml
Labels: MergeOK, WaitForFix

#1557 [jsk_pr2_accessories] Add long fingertips used for @kosuke55's demos
  jsk_pr2_robot/jsk_pr2_accessories/pr2_fingertips/PR2_ChopStick_0_20200825_ver2.SLDPRT
  jsk_pr2_robot/jsk_pr2_accessories/pr2_fingertips/PR2_ChopStick_0_20200825_ver2.STL
  jsk_pr2_robot/jsk_pr2_accessories/pr2_fingertips/PR2_LongGripper_20191204.SLDPRT
  jsk_pr2_robot/jsk_pr2_accessories/pr2_fingertips/PR2_LongGripper_20191204.STL
Labels: WaitForReview

#1529 [jsk_fetch_startup] Add alternate rwt_app_chooser URL
  jsk_fetch_robot/jsk_fetch_startup/README.md
Labels: question, WaitForReview

#1481 [jsk_fetch_startup] Publish diagnostics for important topics and nodes
  .travis.rosinstall.kinetic
  jsk_fetch_robot/jsk_fetch_startup/config/fetch_analyzers.yaml
  jsk_fetch_robot/jsk_fetch_startup/config/sanity_targets.yaml
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/package.xml
Labels: MergeOK, fetch15, fetch1075, WaitForFix, WaitForReview, WaitForFeedback

#1552 [jsk_robot_startup] Fix username retrieval in active_user.l
  jsk_robot_common/jsk_robot_startup/lifelog/active_user.l
Labels: MergeOK

#1549 [pepper] add node to publish compressed image in jsk_pepper_startup.launch
  jsk_naoqi_robot/jsk_pepper_startup/README.md
  jsk_naoqi_robot/jsk_pepper_startup/launch/jsk_pepper_startup.launch
Labels: MergeOK, naoqi

#1535 Add lang/volume/speak key for :speak function to follow robot-interface
  jsk_naoqi_robot/naoqieus/naoqi-interface.l
Labels: naoqi, WaitForReview

#1577 [jsk_robot_startup] fix typo in active_user.l
  jsk_robot_common/jsk_robot_startup/lifelog/active_user.l
Labels: bugfix

#1575 [jsk_baxter_startup] fix typo: default -> value
  jsk_baxter_robot/jsk_baxter_startup/baxter_default.launch
  jsk_baxter_robot/jsk_baxter_startup/baxter_softhand.launch
Labels: baxter

#1572 [jsk_baxter_startup] change twitter image in baxter.launch
  jsk_baxter_robot/jsk_baxter_startup/baxter.launch
  jsk_baxter_robot/jsk_baxter_startup/jsk_baxter_lifelog/baxter_tweet.launch
  jsk_baxter_robot/jsk_baxter_startup/jsk_baxter_lifelog/db_client.launch
Labels: baxter

#1558 Smach to email/twitter
  jsk_robot_common/jsk_robot_startup/README.md
  jsk_robot_common/jsk_robot_startup/package.xml
  jsk_robot_common/jsk_robot_startup/scripts/smach_to_mail.py
Labels: WaitForUpdates
