Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2022-10, with the labels that each got.

#1582 [softhand_ros] use lower torque limit to avoid breakdown
  jsk_hand/softhand_ros/config/left_hand/dxl_controllers_common.yaml
  jsk_hand/softhand_ros/config/right_hand/dxl_controllers_common.yaml
Labels: enhancement, baxter, WaitForReview

#1635 Publish CO2 concentration in go-to-kitchen app
  jsk_fetch_robot/jsk_fetch_startup/apps/go_to_kitchen/go_to_kitchen.xml
  jsk_fetch_robot/jsk_fetch_startup/euslisp/navigation-utils.l
Labels: enhancement, fetch15, fetch1075, Fetch

#1651 update time_signal schedule and speak minute info
  jsk_fetch_robot/jsk_fetch_startup/scripts/time_signal.py
Labels: fetch15, fetch1075, develop/fetch, Fetch

#1658 [jsk_fetch_startup] fix typo and speak date when midnight in time signal
  jsk_fetch_robot/jsk_fetch_startup/scripts/time_signal.py
Labels: fetch15, fetch1075, develop/fetch, Fetch

#1578 Adopt Google Chat ROS to smach_to_mail and adding launch file for it
  jsk_robot_common/jsk_robot_startup/README.md
  jsk_robot_common/jsk_robot_startup/launch/smach_to_mail.launch
  jsk_robot_common/jsk_robot_startup/package.xml
  jsk_robot_common/jsk_robot_startup/scripts/smach_to_mail.py
Labels: enhancement, jsk_robot_startup, WaitForFix

#1661 [jsk_robot_startup] Add timeout for smach notification and refactor error handling
  jsk_robot_common/jsk_robot_startup/scripts/smach_to_mail.py
Labels: jsk_robot_startup, develop/fetch

#1656 [jsk_pr2_startup] add use_voice_text arg in pr2_bringup.launch
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
Labels: enhancement, PR1012, PR1040

#1668 [cobottaeus][OSS] Change queue size of joint_states
  jsk_denso_robot/cobottaeus/cobotta-oss-interface.l
Labels: bugfix, hacktoberfest-accepted, cobotta

#1645 [jsk_fetch_startup] [bugfix] Fix report in kitchen demo
  jsk_fetch_robot/jsk_fetch_startup/euslisp/navigation-utils.l
Labels: bugfix, fetch15, hacktoberfest-accepted, fetch1075, Fetch

#1673 [pr2_base_trajectory_action] Fix parameter names in pr2_base_link.yaml
  jsk_pr2_robot/pr2_base_trajectory_action/config/pr2_base_link.yaml
Labels: PR1012, PR1040

#1676 [develop/fetch] add smach image in fetch rviz record
  jsk_fetch_robot/jsk_fetch_startup/config/jsk_startup_record.rviz
Labels: fetch15, fetch1075, develop/fetch, Fetch

#1675 [jsk_naoqi_robot/cross/repos] update app_manager version in pepper.repos
  jsk_naoqi_robot/cross/repos/pepper.repos
Labels: naoqi

#1681 [develop/fetch] use knorth55/fetch_ros@develop/fetch branch
  jsk_fetch_robot/jsk_fetch.rosinstall.melodic
Labels: fetch15, fetch1075, develop/fetch, Fetch

#1616 [Fetch1075] Add update_move_base_parameter_recovery and complex_recovery
  jsk_fetch_robot/jsk_fetch_startup/launch/navigation/fetch1075/fetch_move_base_common_params.yaml
Labels: develop/fetch, experimental

#1693 [jsk_robot_startup] add missing import in smach_to_mail
  jsk_robot_common/jsk_robot_startup/scripts/smach_to_mail.py
Labels: jsk_robot_startup, bug

#1694 [jsk_robot_startup] add finish-success and finish-failure in smach_to_mail
  jsk_robot_common/jsk_robot_startup/scripts/smach_to_mail.py
Labels: enhancement, MergeOK, jsk_robot_startup

#1698 [jsk_fetch_robot] update jsk_fetch.rosinstall.indigo
  jsk_fetch_robot/jsk_fetch.rosinstall.indigo
Labels: fetch15, fetch1075, Fetch

#1696 [jsk_pr2_startup] update jsk_pr2.rosinstall
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2.rosinstall
Labels: PR1012, PR1040

#1697 [jsk_fetch_robot] update jsk_fetch.rosinstall.melodic
  jsk_fetch_robot/jsk_fetch.rosinstall.melodic
Labels: fetch15, fetch1075, Fetch

#1583 [jsk_naoqi_robot/cross] Update how to compile and run ROS1 on a Pepper robot
  jsk_naoqi_robot/cross/README.md
  jsk_naoqi_robot/cross/build_user.sh
  jsk_naoqi_robot/cross/install.sh
  jsk_naoqi_robot/cross/prepare_requirements_ros1.sh
  jsk_naoqi_robot/cross/repos/ros1_dependencies.repos
  jsk_naoqi_robot/cross/ros1_dependencies_build_scripts/1044-screen
  jsk_naoqi_robot/cross/ros1_dependencies_build_scripts/1045-libogg-dev
  jsk_naoqi_robot/cross/ros1_dependencies_build_scripts/1046-libtheora-dev
  jsk_naoqi_robot/cross/startup_scripts/screenrc
  jsk_naoqi_robot/cross/startup_scripts/start.sh
  jsk_naoqi_robot/jsk_pepper_startup/package.xml
Labels: naoqi, WaitForUpdates

#1704 [jsk_pr2_startup] add respawn to respeaker node
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_lifelog/pr2_microphone.launch
  jsk_pr2_robot/jsk_pr2_startup/pr2.launch
Labels: enhancement, PR1012, PR1040

#1709 [jsk_fetch_startup] Add timeout for get-light-on
  jsk_fetch_robot/jsk_fetch_startup/euslisp/navigation-utils.l
Labels: bugfix, fetch15, fetch1075, develop/fetch
