Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2022-05, with the labels that each got.

#1478 [jsk_fetch_startup] Remove duplicated diagnostics aggregator
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch.launch
Labels: bugfix, fetch15, fetch1075

#1453 [jsk_fetch_startup] Shutdown robot if go-to-kitchen timeout or fail
  jsk_fetch_robot/jsk_fetch_startup/apps/go_to_kitchen/go_to_kitchen.app
Labels: fetch15, fetch1075

#1186 [fetcheus] add fetch head box collision
  jsk_fetch_robot/fetcheus/fetch-interface.l
Labels: enhancement, fetch15, fetch1075

#1208 [jsk_fetch_startup] add fetch etc files
  jsk_fetch_robot/jsk_fetch_startup/config/install_upstart.sh
  jsk_fetch_robot/jsk_fetch_startup/scripts/log-wifi-link.sh
Labels: enhancement, MergeOK, fetch15, fetch1075

#1459 add light off app
  jsk_fetch_robot/jsk_fetch_startup/apps/fetch_apps.installed
  jsk_fetch_robot/jsk_fetch_startup/apps/light_off/light_off.app
  jsk_fetch_robot/jsk_fetch_startup/apps/light_off/light_off.interface
  jsk_fetch_robot/jsk_fetch_startup/apps/light_off/light_off.png
  jsk_fetch_robot/jsk_fetch_startup/apps/light_off/light_off.xml
  jsk_fetch_robot/jsk_fetch_startup/apps/light_on/light_on.app
  jsk_fetch_robot/jsk_fetch_startup/apps/light_on/light_on.interface
  jsk_fetch_robot/jsk_fetch_startup/apps/light_on/light_on.png
  jsk_fetch_robot/jsk_fetch_startup/apps/light_on/light_on.xml
Labels: fetch15, fetch1075
