Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2022-04, with the labels that each got.

#1431 [jsk_fetch_startup] Add node to shut down or reboot robot itself
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/scripts/battery_warning.py
  jsk_fetch_robot/jsk_fetch_startup/supervisor_scripts/jsk-shutdown.conf
  jsk_fetch_robot/jsk_fetch_startup/tmuxinator_yaml/log.yml
  jsk_robot_common/jsk_robot_startup/README.md
  jsk_robot_common/jsk_robot_startup/scripts/shutdown.py
Labels: fetch15, fetch1075

#1445 add depends to angles package
  jsk_robot_common/jsk_robot_startup/CMakeLists.txt
  jsk_robot_common/jsk_robot_startup/package.xml
Labels: MergeOK

#1433 [jsk_fetch_startup] Send an email when fetch is low battery
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/scripts/battery_warning.py
Labels: MergeOK, wait for fix

#1432 Add kinova rest pose
  jsk_kinova_robot/README.md
  jsk_kinova_robot/kinovaeus/gen3_lite_gen3_lite_2f.yaml
Labels: MergeOK

#1423 [jsk_robot_lifelog] add master arg in app_manager.launch
  jsk_robot_common/jsk_robot_startup/lifelog/app_manager.launch
Labels: enhancement, MergeOK, jsk_robot_startup

#1455 [jsk_fetch_startup] change global_planner to global_planner/GlobalPlanner
  jsk_fetch_robot/jsk_fetch_startup/launch/navigation/fetch_move_base_common_params.yaml
  jsk_fetch_robot/jsk_fetch_startup/package.xml
Labels: fetch15, fetch1075

#1464 Record panorama video in go_to_kitchen demo
  jsk_fetch_robot/jsk_fetch_startup/apps/go_to_kitchen/go_to_kitchen.app
Labels: fetch15, fetch1075

#1457 [jsk_fetch_startup] Update switchbot device name in navigation-utils.l
  jsk_fetch_robot/jsk_fetch_startup/euslisp/navigation-utils.l
Labels: fetch15, fetch1075

#1454 [jsk_fetch_startup] Add explanation of navigation and speaking of Fetch README
  jsk_fetch_robot/README.md
Labels: fetch15, fetch1075

#1451 send /move_base/cancel when go-to-kitchen stopped
  jsk_fetch_robot/jsk_fetch_startup/apps/go_to_kitchen/go_to_kitchen.app
Labels: fetch15, fetch1075

#1420 [jsk_pr2_startup] suppress pr2 battery warning just after removing the cable
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_warning/battery_warning.py
Labels: MergeOK

#1467 [jsk_fetch_startup] Supress L515 ERROR messages
  jsk_fetch_robot/jsk_fetch.rosinstall.melodic
Labels: MergeOK, fetch15, fetch1075

#1449 Add roseus code to call app_notification_saver service
  jsk_fetch_robot/jsk_fetch_startup/apps/go_to_kitchen/go_to_kitchen.app
  jsk_fetch_robot/jsk_fetch_startup/euslisp/navigation-utils.l
  jsk_fetch_robot/jsk_fetch_startup/euslisp/notify-app.l
Labels: MergeOK, fetch15, fetch1075, Please resolve conflicts

#1461 Add app to upload notification json
  jsk_fetch_robot/jsk_fetch_startup/apps/fetch_apps.installed
  jsk_fetch_robot/jsk_fetch_startup/apps/upload_notification/upload_notification.app
  jsk_fetch_robot/jsk_fetch_startup/apps/upload_notification/upload_notification.interface
  jsk_fetch_robot/jsk_fetch_startup/apps/upload_notification/upload_notification.png
  jsk_fetch_robot/jsk_fetch_startup/apps/upload_notification/upload_notification.xml
Labels: MergeOK, fetch15, fetch1075

#1450 Launch smach_notification_saver by default
  jsk_fetch_robot/jsk_fetch_startup/apps/go_to_kitchen/go_to_kitchen.app
Labels: MergeOK, fetch15, fetch1075, Please resolve conflicts

#1419 add launch_app_manager in baxter.launch
  jsk_baxter_robot/jsk_baxter_startup/baxter.launch
  jsk_baxter_robot/jsk_baxter_startup/jsk_baxter_lifelog/db_client.launch
Labels: enhancement, MergeOK, baxter

#1452 Publish /shutdown topic if go-to-kitchen demo fails
  jsk_fetch_robot/jsk_fetch_startup/apps/go_to_kitchen/go_to_kitchen.app
Labels: fetch15, fetch1075, wait for fix

#1418 [jsk_pr2_startup] use speech_to_text_google for dialogflow
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_lifelog/pr2_microphone.launch
Labels: MergeOK, PR1040

#1405 [Fetch] add servo-off method to fetch-interface.l
  jsk_fetch_robot/README.md
  jsk_fetch_robot/fetcheus/fetch-interface.l
Labels: MergeOK, fetch15, fetch1075

#1400 [Fetch] Add troubleshooting of joystick
  jsk_fetch_robot/README.md
Labels: fetch15, hacktoberfest-accepted, fetch1075

#1375 Add build map docs
  jsk_fetch_robot/README.md
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
Labels: MergeOK, need fix
