Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2022-12, with the labels that each got.

#1755 [jsk_fetch_startup] fix typo in warning.py
  jsk_fetch_robot/jsk_fetch_startup/scripts/warning.py
Labels: bug

#1752 [develop/fetch] move app_schedule.yaml in jsk_fetch_startup
  jsk_fetch_robot/jsk_fetch_startup/config/fetch1075_app_schedule.yaml
  jsk_fetch_robot/jsk_fetch_startup/config/fetch15_app_schedule.yaml
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
Labels: enhancement, develop/fetch

#1753 [develop/fetch] use enable and speak_enable for volume control
  jsk_robot_common/jsk_robot_startup/lifelog/auto_speak_volume_lower.l
  jsk_robot_common/jsk_robot_startup/lifelog/auto_speak_volume_reset.l
  jsk_robot_common/jsk_robot_startup/lifelog/auto_speak_volume_zero.l
Labels: enhancement, develop/fetch

#1762 [develop/fetch] [jsk_robot_startup] Change permission of SmachNotificationReconfigure to avoid build error
  jsk_robot_common/jsk_robot_startup/cfg/SmachNotificationReconfigure.cfg
Labels: bugfix, jsk_robot_startup, develop/fetch

#1763 [jsk_naoqi_robot/cross/README] fix typo
  jsk_naoqi_robot/cross/README.md
Labels: naoqi

#1751 [panda_eus] Skip generating dual_panda.l when franka_description or xacro is old to avoid build failure
  jsk_panda_robot/panda_eus/CMakeLists.txt
Labels: panda, WaitForReview

#1740 [fetcheus] :go-pos-unsafe for kinematic simulation
  jsk_fetch_robot/fetcheus/fetch-interface.l
  jsk_fetch_robot/fetcheus/test/test-fetcheus.l
Labels: fetch15, fetch1075, Fetch

#1756 [jsk_fetch_startup] update fetch navigation parameters
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/navigation/fetch1075/fetch_move_base_common_params.yaml
  jsk_fetch_robot/jsk_fetch_startup/launch/navigation/fetch15/fetch_move_base_common_params.yaml
  jsk_fetch_robot/jsk_fetch_startup/scripts/correct_position.py
  jsk_fetch_robot/jsk_fetch_startup/scripts/odometry_transformer.py
Labels: Fetch

#1718 [jsk_robot/.travis.rosinstall] update .travis.rosinstall.kinetic/melodic/noetic to install naoqi_bridge source (kochigami-develop)
  .travis.rosinstall
  .travis.rosinstall.melodic
  .travis.rosinstall.noetic
Labels: NeedHelp

#1710 [jsk_fetch_startup] Add timeout for get-light-on
  jsk_fetch_robot/jsk_fetch_startup/euslisp/navigation-utils.l
Labels: bugfix, fetch15, fetch1075

#1738 [jsk_robot_startup] make tweet_client.l loadable in simulation
  jsk_robot_common/jsk_robot_startup/lifelog/tweet_client.l
  jsk_robot_common/jsk_robot_startup/lifelog/tweet_client_tablet.l
  jsk_robot_common/jsk_robot_startup/lifelog/tweet_client_uptime.l
  jsk_robot_common/jsk_robot_startup/lifelog/tweet_client_warning.l
  jsk_robot_common/jsk_robot_startup/lifelog/tweet_client_worktime.l
Labels: question, jsk_robot_startup
