Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2022-09, with the labels that each got.

#1565 [baxtereus] move end-coords for new softhand mount
  jsk_baxter_robot/baxtereus/baxter-softhand-interface.l
Labels: baxter, WaitForReview

#1584 [jsk_robot_startup/smach_to_mail] Enable to send INFO tag
  jsk_robot_common/jsk_robot_startup/scripts/smach_to_mail.py
Labels: MergeOK

#1540 (baxtereus) Add roseus_resume initialization in baxter-interface.l
  jsk_baxter_robot/baxtereus/baxter-interface.l
Labels: MergeOK, baxter

#1573 [jsk_baxter_startup] add baxter rosbag play and record launch
  jsk_baxter_robot/jsk_baxter_startup/README.md
  jsk_baxter_robot/jsk_baxter_startup/baxter_rosbag_play.launch
  jsk_baxter_robot/jsk_baxter_startup/baxter_rosbag_record.launch
Labels: baxter

#1571 [jsk_robot_startup] Enable input condition and added shutdown_unchecked
  jsk_robot_common/jsk_robot_startup/README.md
  jsk_robot_common/jsk_robot_startup/scripts/shutdown.py
Labels: fetch15, fetch1075, WaitForFix

#1563 add allow-other-keys in baxter-init
  jsk_baxter_robot/baxtereus/baxter-interface.l
  jsk_baxter_robot/baxtereus/baxter-softhand-interface.l
Labels: enhancement, baxter, WaitForCI

#1568 [jsk_fetch_startup] Send kitchen demo mail and twitter with smach_to_mail.py
  jsk_fetch_robot/jsk_fetch_startup/apps/go_to_kitchen/go_to_kitchen.app
  jsk_fetch_robot/jsk_fetch_startup/euslisp/go-to-kitchen.l
  jsk_fetch_robot/jsk_fetch_startup/euslisp/navigation-utils.l
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_robot_common/jsk_robot_startup/scripts/smach_to_mail.py
Labels: fetch15, fetch1075, WaitForUpdates

#1581 [jsk_robot_startup] Update Readme; configuring a smtp server
  jsk_robot_common/jsk_robot_startup/README.md
Labels: jsk_robot_startup, WaitForFix, documentation

#1596 [develop/fetch] add new arduino udev rules
  jsk_fetch_robot/jsk_fetch_startup/udev_rules/80-arduino.rules
Labels: fetch15, fetch1075

#1600 [jsk_pr2_startup/cable_warning.l] No warning for zero velocity
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_warning/cable_warning.l
Labels: PR1012, PR1040

#1605 [jsk_fetch_robot] update wstool info in readme
  jsk_fetch_robot/README.md
Labels: develop/fetch

#1588 [jsk_robot_startup] Not using yaml file to set email config like receiver mail address
  jsk_robot_common/jsk_robot_startup/scripts/email_topic.py
  jsk_robot_common/jsk_robot_startup/scripts/smach_to_mail.py
Labels: jsk_robot_startup

#1622 [softhand_ros] zero torque limit instruction to avoid max torque use
  jsk_hand/softhand_ros/README.md
Labels: baxter, documentation

#1595 [develop/fetch] add jsk-switch-wifi supervisor conf
  jsk_fetch_robot/jsk_fetch_startup/supervisor_scripts/jsk-switch-wifi-73b2.conf
  jsk_fetch_robot/jsk_fetch_startup/supervisor_scripts/jsk-switch-wifi-outside.conf
Labels: fetch15, fetch1075, develop/fetch
