Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2022-07, with the labels that each got.

#1519 [jsk_fetch_startup] Add launch to use m5stack sensors via rosserial + bluetooth
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_rosserial.launch
  jsk_fetch_robot/jsk_fetch_startup/supervisor_scripts/jsk-rfcomm-bind.conf
  jsk_fetch_robot/jsk_fetch_startup/tmuxinator_yaml/log.yml
Labels: enhancement, fetch15, fetch1075

#1401 Add script to bind rfcomm device to remote Bluetooth device
  jsk_pr2_robot/jsk_pr2_startup/README.md
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_sensors/pr2_rfcomm_bind.launch
  jsk_robot_common/jsk_robot_startup/README.md
  jsk_robot_common/jsk_robot_startup/launch/rfcomm_bind.launch
  jsk_robot_common/jsk_robot_startup/scripts/rfcomm_bind.py
Labels: PR1040, hacktoberfest-accepted

#1523 [jsk_fetch_startup/go_to_kitchen.app] Launch rviz's throttle nodes in rviz_record.launch for video record
  jsk_fetch_robot/jsk_fetch_startup/apps/go_to_kitchen/go_to_kitchen.app
  jsk_fetch_robot/jsk_fetch_startup/apps/go_to_kitchen/go_to_kitchen.xml
  jsk_fetch_robot/jsk_fetch_startup/launch/rviz_record.launch
Labels: fetch1075

#1493 [jsk_fetch_startup] Add yaml to set image compress png_level to 5
  jsk_fetch_robot/jsk_fetch_startup/config/image_transport_plugins_params.yaml
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch.launch
Labels: MergeOK, fetch15, fetch1075

#1458 Fetch notifies trashbox status in go-to-kitchen demo.
  jsk_fetch_robot/jsk_fetch_startup/euslisp/go-to-kitchen-with-mail-notify.l
  jsk_fetch_robot/jsk_fetch_startup/euslisp/go-to-kitchen.l
  jsk_fetch_robot/jsk_fetch_startup/euslisp/navigation-utils.l
Labels: fetch15, NeedDiscussion, fetch1075

#1533 [jsk_fetch_startup] Launch ENV III sensor via rosserial + Bluetooth
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_rosserial.launch
Labels: fetch15, fetch1075

#1534 [jsk_fetch_startup] Reset rosserial logger level for debuging
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_rosserial.launch
Labels: fetch15, fetch1075

#1532 Update rosserial used in fetch to use ArduinoBluetoothHardware
  jsk_fetch_robot/jsk_fetch.rosinstall.melodic
Labels: fetch15, fetch1075

#1537 [jsk_pepper_startup/README.md] add trobleshooting about the error related to ROS-Driver-Audio
  jsk_naoqi_robot/jsk_pepper_startup/README.md
Labels: naoqi

#1536 [jsk_pepper_startup/README.md] add some tips to deactivate the getting started wizard on Pepper's tablet
  jsk_naoqi_robot/jsk_pepper_startup/README.md
Labels: naoqi

#1522 add softhand_ros in jsk_robot
  jsk_hand/softhand_ros/.media/softhand_v1.png
  jsk_hand/softhand_ros/.media/softhand_v2.png
  jsk_hand/softhand_ros/CMakeLists.txt
  jsk_hand/softhand_ros/README.md
  jsk_hand/softhand_ros/action/CalibJoint.action
  jsk_hand/softhand_ros/config/left_hand/dxl_controllers_common.yaml
  jsk_hand/softhand_ros/config/left_hand/dxl_position_controllers.yaml
  jsk_hand/softhand_ros/config/left_hand/dxl_torque_controllers.yaml
  jsk_hand/softhand_ros/config/left_hand_v2/dxl_controllers_common.yaml
  jsk_hand/softhand_ros/config/left_hand_v2/dxl_position_controllers.yaml
  jsk_hand/softhand_ros/config/left_hand_v2/dxl_torque_controllers.yaml
  jsk_hand/softhand_ros/config/right_hand/dxl_controllers_common.yaml
  jsk_hand/softhand_ros/config/right_hand/dxl_position_controllers.yaml
  jsk_hand/softhand_ros/config/right_hand/dxl_torque_controllers.yaml
  jsk_hand/softhand_ros/config/right_hand_v2/dxl_controllers_common.yaml
  jsk_hand/softhand_ros/config/right_hand_v2/dxl_position_controllers.yaml
  jsk_hand/softhand_ros/config/right_hand_v2/dxl_torque_controllers.yaml
  jsk_hand/softhand_ros/euslisp/dynamixel-hand-interface.l
  jsk_hand/softhand_ros/euslisp/softhand-interface.l
  jsk_hand/softhand_ros/euslisp/softhand-v2-interface.l
  jsk_hand/softhand_ros/fc.rosinstall
  jsk_hand/softhand_ros/launch/softhand.launch
  jsk_hand/softhand_ros/launch/softhand_left.launch
  jsk_hand/softhand_ros/launch/softhand_right.launch
  jsk_hand/softhand_ros/launch/softhand_v2.launch
  jsk_hand/softhand_ros/launch/softhand_v2_left.launch
  jsk_hand/softhand_ros/launch/softhand_v2_right.launch
  jsk_hand/softhand_ros/package.xml
  jsk_hand/softhand_ros/python/softhand_ros/__init__.py
  jsk_hand/softhand_ros/python/softhand_ros/calib_required_controller.py
  jsk_hand/softhand_ros/python/softhand_ros/calib_required_joint_position_controller.py
  jsk_hand/softhand_ros/python/softhand_ros/calib_required_joint_torque_controller.py
  jsk_hand/softhand_ros/python/softhand_ros/dxmio_heater_controller.py
  jsk_hand/softhand_ros/setup.py
  jsk_hand/softhand_ros/udev/80-e160.rules
  jsk_hand/softhand_ros/udev/80-ft2232c.rules
Labels: baxter, WaitForFix

#1462 [jsk_fetch_startup] Update trashcan front position in kitchen demo
  jsk_fetch_robot/jsk_fetch_startup/euslisp/navigation-utils.l
Labels: fetch15, fetch1075, PleaseResolveConflicts

#1539 [softhand_ros] fix device file name and readme for softhand
  jsk_hand/softhand_ros/README.md
  jsk_hand/softhand_ros/launch/softhand_left.launch
  jsk_hand/softhand_ros/launch/softhand_right.launch
  jsk_hand/softhand_ros/launch/softhand_v2_left.launch
  jsk_hand/softhand_ros/launch/softhand_v2_right.launch
Labels: baxter

#1541 [baxtereus] add baxter-softhand-interface for baxter+softhand
  jsk_baxter_robot/baxtereus/baxter-softhand-interface.l
  jsk_hand/softhand_ros/euslisp/dynamixel-hand-interface.l
  jsk_hand/softhand_ros/euslisp/softhand-v2-interface.l
Labels: baxter
