Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2023-06, with the labels that each got.

#1803 [jsk_robot_startup/lifelog] Tweet randomly from uptime
  jsk_robot_common/jsk_robot_startup/lifelog/tweet_client_uptime.l
Labels: jsk_robot_startup, develop/fetch

#1809 [jsk_fetch_startup] Logging /sound_play/goal and /speech_to_text
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_lifelog.xml
Labels: enhancement, fetch15, fetch1075, Fetch

#1818 [jsk_fetch_startup] Avoid collision between l515 and head_pan_link
  jsk_fetch_robot/jsk_fetch_startup/robots/head_l515.srdf.xacro
Labels: bugfix, develop/fetch, Fetch

#1820 [Fetch] Switch branch of jsk_pr2eus to develop/fetch
  jsk_fetch_robot/jsk_fetch.rosinstall.melodic
Labels: develop/fetch

#1808 [jsk_robot_startup][jsk_fetch_startup] Add dry run option of update_workspace.sh
  jsk_robot_common/jsk_robot_startup/scripts/update_workspace_main.sh
Labels: NeedDiscussion, jsk_robot_startup, develop/fetch

#1826 Revert "[Fetch] Switch branch of jsk_pr2eus to develop/fetch"
  jsk_fetch_robot/jsk_fetch.rosinstall.melodic
Labels: develop/fetch

#1702 [Fetch] Support head l515 (Part1)
  jsk_fetch_robot/jsk_fetch_accessories/head_l515/fetch_head_l515_mount.step
  jsk_fetch_robot/jsk_fetch_accessories/head_l515/fetch_head_l515_mount.stl
  jsk_fetch_robot/jsk_fetch_accessories/head_l515/fetch_head_l515_mount_simplified.stl
  jsk_fetch_robot/jsk_fetch_startup/config/config.bash
  jsk_fetch_robot/jsk_fetch_startup/config/install_supervisor.sh
  jsk_fetch_robot/jsk_fetch_startup/config/jsk_startup.rviz
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_gazebo_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_realsense_bringup.launch
  jsk_fetch_robot/jsk_fetch_startup/launch/moveit/fetch.srdf.xacro
  jsk_fetch_robot/jsk_fetch_startup/robots/head_l515.srdf.xacro
  jsk_fetch_robot/jsk_fetch_startup/robots/head_l515.urdf.xacro
  jsk_fetch_robot/jsk_fetch_startup/robots/jsk_fetch.urdf.xacro
  jsk_fetch_robot/jsk_fetch_startup/supervisor_scripts/robot.conf
Labels: Fetch

#1828 [WIP][jsk_fetch_startup][jsk_fetch_robot] add esp_now_ros to launch
  jsk_fetch_robot/jsk_fetch.rosinstall.melodic
  jsk_fetch_robot/jsk_fetch_startup/config/config.bash
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
Labels: develop/fetch, Fetch

#1832 [Fetch] Use bugfix branch of executive_smach_visualization
  jsk_fetch_robot/jsk_fetch.rosinstall.melodic
Labels: develop/fetch, Fetch

#1833 [jsk_fetch_robot] update esp_now_ros version to v0.2.0
  jsk_fetch_robot/jsk_fetch.rosinstall.melodic
Labels: develop/fetch, Fetch

#1830 Add enr_message_board capability to kitchen demo
  jsk_fetch_robot/jsk_fetch_startup/euslisp/navigation-utils.l
Labels: develop/fetch, Fetch

#1834 Revert "[Fetch] Use bugfix branch of executive_smach_visualization"
  jsk_fetch_robot/jsk_fetch.rosinstall.melodic
Labels: develop/fetch, Fetch
