Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2023-05, with the labels that each got.

#1796 [Fetch] Fix jsk_recognition branch in jsk_fetch.rosinstall.melodic
  jsk_fetch_robot/jsk_fetch.rosinstall.melodic
Labels: bugfix, develop/fetch

#1795 [jsk_pr2_startup] Change launch_virtual_force arg to avoid dupulicated node error
  jsk_pr2_robot/jsk_pr2_startup/pr2_bringup.launch
Labels: PR1012, PR1040

#1785 [jsk_robot_startup] advertise when no tweet publisher is advertised yet
  jsk_robot_common/jsk_robot_startup/lifelog/tweet_client.l
Labels: enhancement

#1794 [unitree/cross] Fix unitree system build
  jsk_unitree_robot/cross/docker/Dockerfile_ros1
  jsk_unitree_robot/cross/prepare_requirements_ros1.sh
  jsk_unitree_robot/cross/repos/go1_requirements.txt
  jsk_unitree_robot/cross/repos/ros1_dependencies.repos
  jsk_unitree_robot/cross/repos/unitree.repos
  jsk_unitree_robot/cross/ros1_dependencies_build_scripts/1000-python-setuptools-scm
  jsk_unitree_robot/cross/ros1_dependencies_build_scripts/1010-python-attr
  jsk_unitree_robot/cross/ros1_dependencies_build_scripts/1010-python-automat
  jsk_unitree_robot/cross/ros1_dependencies_build_scripts/1010-python-incremental
  jsk_unitree_robot/cross/ros1_dependencies_build_scripts/1011-python-zope.interface
  jsk_unitree_robot/cross/ros1_dependencies_build_scripts/1012-python-twisted
  jsk_unitree_robot/cross/ros1_dependencies_build_scripts/1043-libccd-dev
  jsk_unitree_robot/cross/ros1_dependencies_build_scripts/1044-libfcl-dev
Labels: WaitForFeedback

#1797 pixel-ring requires spidev and spidev >=3.6 requires setuptools>=61.0, which is not support python2. same as https://github.com/jsk-ros-pkg/jsk_robot/pull/1794
  jsk_naoqi_robot/cross/repos/pepper_requirements.txt
  jsk_naoqi_robot/cross/repos/ros1_dependencies.repos
  jsk_naoqi_robot/cross/ros1_dependencies_build_scripts/1047-libjpeg-turbo
Labels: naoqi, WaitForReview
