Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2023-10, with the labels that each got.

#1854 [jsk_fetch_startup] Use pubsub mode in google chat ros
  jsk_fetch_robot/jsk_fetch_startup/launch/fetch_bringup.launch
Labels: develop/fetch, Fetch

#1859 Update unitree.rosinstall
  jsk_unitree_robot/unitree.rosinstall
Labels: Unitree

#1862 [unicree/cross] Increase retry number of vcs import
  jsk_unitree_robot/cross/build_ros1.sh
  jsk_unitree_robot/cross/build_ros1_dependencies.sh
Labels: Unitree

#1867 Fix unitreeeus building
  jsk_unitree_robot/cross/repos/unitree.repos
  jsk_unitree_robot/unitree.rosinstall
  jsk_unitree_robot/unitreeeus/.gitignore
  jsk_unitree_robot/unitreeeus/go1-utils.l
  jsk_unitree_robot/unitreeeus/package.xml
  jsk_unitree_robot/unitreeeus/unitree-interface.l
Labels: Unitree

#1869 [jsk_fetch_robot] update esp_now_ros version to v0.4.0
  jsk_fetch_robot/jsk_fetch.rosinstall.melodic
Labels: develop/fetch, Fetch

#1874 [cross] add LANG=C for ping reachability check
  jsk_unitree_robot/cross/install.sh
Labels: Unitree

#1879 README.md: use archive for docker, System, Users.
  jsk_unitree_robot/README.md
  jsk_unitree_robot/cross/README.md
Labels: Unitree

#1868 [unitree/cross] Enable to share single docker image with multiple users
  jsk_unitree_robot/cross/Makefile
  jsk_unitree_robot/cross/build_ros1.sh
  jsk_unitree_robot/cross/build_ros1_dependencies.sh
  jsk_unitree_robot/cross/build_user.sh
  jsk_unitree_robot/cross/compress.sh
  jsk_unitree_robot/cross/docker/Dockerfile_ros1
  jsk_unitree_robot/cross/docker/entrypoint.sh
  jsk_unitree_robot/cross/install.sh
  jsk_unitree_robot/cross/prepare_requirements_ros1.sh
  jsk_unitree_robot/cross/repos/catkin_virtualenv.repos
  jsk_unitree_robot/cross/repos/ros1_dependencies.repos
  jsk_unitree_robot/cross/ros1_dependencies_build_scripts/1045-virtualenv
  jsk_unitree_robot/cross/ros1_dependencies_build_scripts/1046-python3-pyparsing
  jsk_unitree_robot/cross/ros1_dependencies_build_scripts/1047-python3-catkin-pkg-modules
  jsk_unitree_robot/cross/ros1_dependencies_build_scripts/1048-python3-rospkg-modules
  jsk_unitree_robot/cross/ros1_dependencies_build_scripts/1049-cython
  jsk_unitree_robot/cross/run_user.sh
  jsk_unitree_robot/cross/startup_scripts/ros1_dependencies_setup.bash
  jsk_unitree_robot/cross/startup_scripts/usercustomize.py
Labels: Unitree

#1861 Update README.md
  jsk_unitree_robot/README.md
  jsk_unitree_robot/cross/README.md
Labels: MergeOK, hacktoberfest-accepted, Unitree

#1799 add single panda
  jsk_panda_robot/README.md
  jsk_panda_robot/jsk_panda_startup/launch/franka.launch
  jsk_panda_robot/jsk_panda_startup/launch/panda.launch
  jsk_panda_robot/panda_eus/.gitignore
  jsk_panda_robot/panda_eus/CMakeLists.txt
  jsk_panda_robot/panda_eus/euslisp/dual_panda-interface.l
  jsk_panda_robot/panda_eus/euslisp/dual_panda-utils.l
  jsk_panda_robot/panda_eus/euslisp/franka-common-interface.l
  jsk_panda_robot/panda_eus/euslisp/panda-interface.l
  jsk_panda_robot/panda_eus/euslisp/panda-utils.l
  jsk_panda_robot/panda_eus/models/dual_panda.urdf.xacro
  jsk_panda_robot/panda_eus/models/dual_panda.yaml
  jsk_panda_robot/panda_eus/models/panda.yaml
  jsk_panda_robot/panda_eus/package.xml
Labels: hacktoberfest-accepted, panda

#1886 [jsk_robot_startup] Fix arg name reveiver --> receiver
  jsk_robot_common/jsk_robot_startup/launch/smach_to_mail.launch
Labels: bugfix, jsk_robot_startup

#1884 This PR added commits related to smach_to_mail.py that is in develop/fetch branch
  jsk_robot_common/jsk_robot_startup/CMakeLists.txt
  jsk_robot_common/jsk_robot_startup/cfg/SmachNotificationReconfigure.cfg
  jsk_robot_common/jsk_robot_startup/scripts/smach_to_mail.py
Labels: jsk_robot_startup
