Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2023-01, with the labels that each got.

#1722 jsk_robot_startup/lifelog/common_logger.launch add save_faces and sav…
  jsk_robot_common/jsk_robot_startup/lifelog/common_logger.launch
Labels: jsk_robot_startup

#1770 [jsk_naoqi_robot/cross] add attach.sh to attach session which you detached once
  jsk_naoqi_robot/cross/build_user.sh
  jsk_naoqi_robot/cross/startup_scripts/attach.sh
Labels: MergeOK, naoqi

#1772 [jsk_panda_teleop] change python3 deps in jsk_panda_teleop
  jsk_panda_robot/jsk_panda_teleop/package.xml
Labels: panda

#1759 add save_faces save_dialogflow save_google_chat to common_logger.launch
  jsk_robot_common/jsk_robot_startup/lifelog/common_logger.launch
Labels: MergeOK

#1705 [jsk_pr2_startup] fix check_openni_node.py
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_sensors/check_openni_node.py
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_sensors/kinect_head.launch
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_sensors/manager.launch.xml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_sensors/openni.launch
Labels: bugfix, PR1012, PR1040

#1768 [jsk_naoqi_robot/README] update output of wstool info because naoqi_dashboard is updated & add a note about NAOqi version and ROS version
  jsk_naoqi_robot/README.md
Labels: question, naoqi
