Repository jsk-ros-pkg/jsk_robot, pull requests merged in 2025-03, with the labels that each got.

#1417 Add diagnostics_ethercat_summarizer.py for packet drop confirmation
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_warning/diagnostics_ethercat_summarizer.py
Labels: PR1040, PR2

#1491 [jsk_pr2_startup] Add audible warning and sanity diagnostics
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_warning/jsk_pr2_analyzers.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_warning/sanity_targets.yaml
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_warning/warning_blacklist.yaml
  jsk_pr2_robot/jsk_pr2_startup/pr2.launch
Labels: WaitForUpstream, PR1012, PR1040, WaitForReview, PR2

#1672 Add diagnostics_rx_error_summarizer.py for rx error confirmation
  jsk_pr2_robot/jsk_pr2_startup/jsk_pr2_warning/diagnostics_rx_error_summarizer.py
Labels: enhancement, PR1012, PR1040, hacktoberfest-accepted, PR2

#1783 [jsk_robot_startup] add speech_to_text in common_logger
  jsk_robot_common/jsk_robot_startup/lifelog/common_logger.launch
Labels: jsk_robot_startup

#1630 [jsk_robot_startup] use update_workspace.sh for nightly workspace build in both PR2 and Fetch
  jsk_fetch_robot/jsk_fetch_startup/scripts/update_workspace.sh
  jsk_pr2_robot/jsk_pr2_startup/scripts/update_workspace.sh
  jsk_robot_common/jsk_robot_startup/scripts/update_workspace_main.sh
Labels: PR1040, jsk_robot_startup, Fetch, PR2

#1927 [jsk_panda_teleop] Fix catkin_install_python usage
  jsk_panda_robot/jsk_panda_teleop/CMakeLists.txt
  jsk_panda_robot/jsk_panda_teleop/setup.py
Labels: panda

#1933 [panda_eus] Support robots under ROS_NAMESPACE
  jsk_panda_robot/panda_eus/euslisp/dual_panda-interface.l
  jsk_panda_robot/panda_eus/euslisp/franka-common-interface.l
  jsk_panda_robot/panda_eus/euslisp/panda-interface.l
Labels: panda
